{% extends "frontend/master.html" %}
{% load i18n cdr_tags country_dialcode_tags common_tags nvd3_tags static %}
{% load cache crispy_forms_tags %}

{% block extra_head %}
  {% load_chart final_charttype final_chartdata final_chartcontainer final_extra %}
  {% load_chart hangup_analytic_charttype hangup_analytic_chartdata hangup_chartcontainer hangup_extra %}
  {% load_chart country_analytic_charttype country_analytic_chartdata country_chartcontainer country_extra %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "dashboard"|capfirst %}<small></small></h1>
{% endblock %}

{% block content %}

{% crispy form form.helper %}

<div class="row">
    <div class="col-md-12">
        <div class="graph_header">
            <h2>{% trans "call statistics"|title %} : {% now "jS F Y" %}</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include_container final_chartcontainer 400 '100%' %}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 align="center">{% trans "call totals report"|title %}</h2>
        <hr/>
        {% if hangup_analytic %}
            {% include_container hangup_chartcontainer 450 500 %}
        {% endif %}
    </div>
    <div class="col-md-6">
        <h2 align="center">{% trans "countries report"|title %}</h2>
        <hr/>
        {% if total_country_data %}
            {% include_container country_chartcontainer 450 500 %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h4 class="text-center">{% trans "total calls"|title %}</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ total_calls }}</th>
                    <td>{% trans "number of calls"|title %}</td>
                </tr>
                <tr>
                    <th>{{ ACT }}</th>
                    <td>{% trans "average calls per hour"|title %}</td>
                </tr>
                <tr>
                    <th>{{ total_duration }}</th>
                    <td>{% trans "total duration"|title %}</td>
                </tr>
                <tr>
                    <th>{{ ACD }}</th>
                    <td>{% trans "average call duration"|title %}</td>
                </tr>
                {% if user.is_superuser %}
                <tr>
                    <th>{{ total_buy_cost }}</th>
                    <td>{% trans "total buy cost"|title %}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>{{ total_sell_cost }}</th>
                    <td>{% trans "total sell cost"|title %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <h4 class="text-center">{% trans "5 most called countries"|title %}</h4>
        {% if total_country_data %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                {% for country_data in total_country_data %}
                    <tr>
                        <td>
                            {% if country_data.0 %}
                                {% cache 1800 country_data country_data.0 %}
                                    <img src="{{ STATIC_URL }}cdr-stats/{{ country_data.0|iso_flag }}" class="elemtooltip" title="{{ country_data.0|country_name|title }}">
                                {% endcache %}
                            {% else %}
                                <img src="{{ STATIC_URL }}cdr-stats/icons/world.png" class="elemtooltip" title="{% trans 'World' %}">
                            {% endif %}
                        </td>
                        <td>{{ country_data.0|country_name|title }}</td>
                        <td>{{ country_data.1.call_count }} {% trans "calls"|title %}</td>
                        <td>{{ country_data.1.duration_sum|conv_min }} {% trans "minutes" %}</td>
                        {% if user.is_superuser %}
                            <td>{{ country_data.1.buy_cost_sum }} <abbr title="{% trans 'buy cost'|title %}">{% trans "BC" %}</abbr></td>
                        {% endif %}
                        <td>{{ country_data.1.sell_cost_sum }} <abbr title="{% trans 'sell cost'|title %}">{% trans "SC" %}</abbr></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="">{% trans "No record found" %}</div>
        {% endif %}
    <div>
</div>

{% endblock %}