{% extends "frontend/master.html" %}
{% load i18n dajaxice_templatetags crispy_forms_tags %}

{% block extra_header %}
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}cdr-stats/js/jquery.dajax.core.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}cdr-stats/js/jquery.ba-serializeobject.js" type="text/javascript"></script>

<script src="{{STATIC_URL}}cdr-stats/js/smoothie.js" type="text/javascript"></script>

{% for c_switch in list_switch %}

<script type="text/javascript">
$(function() {
    //TODO: Sent one single request for all VoIP Switches
    var voipswitchname = '{{ c_switch.key_uuid }}';
    var max_call = {{ realtime_graph_maxcall }}
    // Randomly add a data point every 500ms
    var dataSet1 = new TimeSeries(); // dataSet2 = new TimeSeries(), dataSet3 = new TimeSeries();
    var numbercall = 0;

    function createTimeline{{ c_switch.id }}() {
        var chart = new SmoothieChart({
            minValue: 0.0,
            maxValue: max_call,
            millisPerPixel: 80,
            grid: {
                strokeStyle: '#555555',
                lineWidth: 1,
                millisPerLine: 2000,
                verticalSections: 6,
            },
            labels: { fillStyle:'#F0F0F0' }
        });
        chart.addTimeSeries(dataSet1, { strokeStyle: 'rgba({% cycle colorgraph1 colorgraph2 colorgraph3 %}, 1)', fillStyle: 'rgba({% cycle colorgraph1 colorgraph2 colorgraph3 %}, 0.2)', lineWidth: 2 });
        chart.streamTo(document.getElementById("chart"+voipswitchname), 800);
    }
    createTimeline{{ c_switch.id }}();

    setInterval(function() {
        Dajaxice.cdr.get_realtime_json(function(d){numbercall = d.numbercall;}, {'key_uuid': '{{ c_switch.key_uuid }}' })
        var now = new Date().getTime();
        dataSet1.append(now, numbercall);
        $("#numbercall-"+voipswitchname).text(numbercall);
    }, 2000);

});
</script>

{% endfor %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "real-time calls"|capfirst %}<small></small></h1>
{% endblock %}

{% block content %}
<div class="row">
    {% crispy form form.helper %}
</div>

{% for c_switch in list_switch %}
<h3><div class="graph_header">{% trans "switch"|title %} : {{ c_switch.name }}</div></h3>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <center>
            <canvas id="chart{{ c_switch.key_uuid }}" width="600" height="180"></canvas>
        </center>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <div class="well">
            <center>
                <h1># {% trans "calls"|title %}</h1>
                <hr/>
                <h1 id="numbercall-{{ c_switch.key_uuid }}">0</h1>
            </center>
      </div>
    </div>
</div>
{% endfor %}

{% endblock %}