{% extends "frontend/master.html" %}
{% load i18n cdr_tags common_tags crispy_forms_tags %}

{% block title %}{% trans "CDR" %} {% trans "mail report"|title %}{% endblock %}

{% block content %}
    {% if msg %}
        <div class="alert alert-success">
            <strong>{% trans "alert"|title %} : </strong>  {{ msg|capfirst }}
        </div>
    {% endif %}

    {% crispy form form.helper %}

    <p>&nbsp;</p>

    <h2>{% trans "preview of the mail report"|capfirst %} :</h2>
    <hr/>

    {% include 'cdr/mail_report_template.html' %}

{% endblock %}