{% extends "cdr/master.html" %}
{% load i18n %}
{% load cdr_extras %}
{% load uni_form_tags %}

{% block extra_header %}
    {% include "cdr/visualize_header.html" %}
    
    <script type="text/javascript">
    $(function() {
        $("#id_from_date").datepicker({ dateFormat: 'yy-mm-dd' });
    });
    </script>
{% endblock %}

{% block content %}

<div class="search-form">
{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}
</div>

<br/><br/>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    var data = [{
                    data: [
                            {% for call in total_record %}
                                [ {{ call.0 }}, {{ call.1 }} ],
                            {% endfor %}
                    ],                    
                    label: '{{report_date|date:"Y-m-d"}}'
    }];

    var options = {
                    legend: {
                                position: "se",
                                margin: [-510,50],
                                labelFormatter: function(label){
                                    return '<div class="graph_legend">'+label+'</div>';
                                },
                          },
                    series: {
                                bars: { show: true },
                          },
                    yaxis: {
                                min: 0,
                                tickDecimals: false
                          },
                    xaxis: {
                                min: 0,
                                max: 24,
                                tickSize: 1,
                                tickDecimals: false,
                                tickFormatter:
                                    function (x) { 
                                        if(x < 24)
                                            return "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + x;
                                        else
                                            return "";
                                    }
                          },
                    grid: {
                                hoverable: true,
                                xaxis: false
                          },
                    tooltip: {
                                formatter: function(obj){
                                    return '<div class="graph_tooltip_header">' + obj.label + '</div><div class="graph_tooltip_info">{% trans "Hour" %}: ' + obj.x + '<br>{% trans "Calls" %}: ' + obj.y + '</div>';
                                }
                          }
                  };
    var plot = $.plot($("#placeholder"), data, options);
    
});
</script>

<center>
    <div class="graph_header">{% trans "Asterisk Load by Hour" %}</div>
    <div id="placeholder" style="width:700px;height:300px"></div>
</center>

{% endblock %}
