{% extends "admin/change_list.html" %}
{% load i18n pagination_tags cdr_tags common_tags %}
{% load country_dialcode_tags admin_list %}
{% load cache %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "home"|capfirst %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="/admin/{{ opts.app_label }}/{{ model_name }}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% trans "CDR search"|capfirst %}
</div>
{% endif %}{% endblock %}

{% block content %}
<link href="{{ STATIC_URL }}cdr-stats/css/admin_custom.css" rel="stylesheet">
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>
<div id="content-main">
  {% block custom-search %}
    <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
      <table class="actions">
        <tr>
          <th>{{ form.from_date.label|title }}</th>
          <td>
              {{ form.from_date }}
              <span class="help-block">{{ form.from_date.help_text|capfirst|safe }} </span>
          </td>
          <th>{{ form.to_date.label|title }}</th>
          <td>{{ form.to_date }}
              <span class="help-block">{{ form.to_date.help_text|capfirst|safe }}</span>
          </td>
          <th>{{ form.destination.label|title }}</th>
          <td>
              {{ form.destination }}&nbsp;&nbsp;{{ form.destination_type }}
          </td>
          <th>{{ form.switch.label|title }}</th>
          <td>{{ form.switch }}
              <span class="help-block">{{ form.switch.help_text|capfirst|safe }}</span>
          </td>
        </tr>

        <tr>
          <th>{{ form.accountcode.label|title }}</th>
          <td>{{ form.accountcode }}&nbsp;&nbsp;{{ form.accountcode_type }}</td>
          <th>{{ form.caller.label|title }}</th>
          <td>{{ form.caller }}&nbsp;&nbsp;{{ form.caller_type }}</td>
          <th>{{ form.duration.label|title }}</th>
          <td>{{ form.duration }}&nbsp;&nbsp;{{ form.duration_type }}</td>
          <th>{{ form.direction.label|title }}</th>
          <td>{{ form.direction }}</td>
        </tr>

        <tr>
          <th>{{ form.hangup_cause.label|title }}</th>
          <td>{{ form.hangup_cause }}</td>
          <th>{{ form.country_id.label|title }}</th>
          <td>{{ form.country_id }}<span class="help-block">{{ form.country_id.help_text|capfirst|safe }} </span></td>
          <th>{{ form.result.label|title }}</th>
          <td>{{ form.result|removetags:"ul li label"|safe }}</td>
          <th></th>
          <td></td>
        </tr>

        <tr>
          <td colspan=8>
            <input type="submit" class="btn btn-primary" name="search" value={% trans "search"|capfirst %} />
          </td>
        </tr>
      </table>
    {% endblock %}
    <p>&nbsp;</p>
    {% block object-tools %}
        <center><h1>
        {% trans "calls detail records"|title %} -

        {% if start_date  %}
            {{ start_date|date:"jS N Y" }}
        {% endif %}
        {% if end_date  %}
            {% trans "to" %} {{ end_date|date:"jS N Y" }}
        {% endif %}
        </h1></center>
    {% endblock %}

  <div id="tabs">
    <ul>
    <li><a href="#tabs-1">{% trans "call detail records"|title %}</a></li>
    <li><a href="#tabs-2">{% trans "report by day"|title %}</a></li>
    </ul>
    <div id="tabs-1">
    <p>&nbsp;</p>
    <ul class="object-tools">
      <li><a href="../export_cdr/?format=csv" class="addlink">{% trans "export to CSV"|capfirst %}</a></li>
      <li><a href="../export_cdr/?format=xls" class="addlink">{% trans "export to XLS"|capfirst %}</a></li>
      <li><a href="../export_cdr/?format=json" class="addlink">{% trans "export to JSON"|capfirst %}</a></li>
      <li><a href="../import_cdr/" class="addlink">{% trans "import CDR"|capfirst %}</a></li>
      <li><a href="/admin/voip_billing/voipplan/rebilling/" class="addlink">{% trans "rebilling"|capfirst %}</a></li>
    </ul>


    <div class="module" id="changelist">
      <div class="result">
        <table>
            <thead>
            <tr>
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'start_uepoch' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "start_uepoch"  %}
                        {{ CDR_COLUMN_NAME.call_date|capfirst }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-start_uepoch"  %}
                    {% else %}
                      {% sort_link CDR_COLUMN_NAME.call_date|capfirst "-start_uepoch"  %}
                    {% endifequal %}
                </th>
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'caller_id_number' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "caller_id_number"  %}
                        {{ CDR_COLUMN_NAME.clid|capfirst }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-caller_id_number"  %}
                    {% else %}
                      {% sort_link CDR_COLUMN_NAME.clid|capfirst "-caller_id_number"  %}
                    {% endifequal %}
                </th>
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'destination_number' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "destination_number"  %}
                        {{ CDR_COLUMN_NAME.destination|capfirst }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-destination_number"  %}
                    {% else %}
                      {% sort_link CDR_COLUMN_NAME.destination|capfirst "-destination_number"  %}
                    {% endifequal %}
                </th>
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'duration' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "duration"  %}
                        {{ CDR_COLUMN_NAME.duration|capfirst }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-duration"  %}
                    {% else %}
                      {% sort_link CDR_COLUMN_NAME.duration|capfirst "-duration"  %}
                    {% endifequal %}
                </th>
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'billsec' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "billsec"  %}
                      <abbr title='{% trans "bill seconds"|title %}'>{{ CDR_COLUMN_NAME.bill|capfirst }}</abbr>
                      {% sort_link "<i class='icon-chevron-down'></i>" "-billsec"  %}
                    {% else %}
                        <abbr title={% trans 'bill seconds'|title %}>
                        {% sort_link CDR_COLUMN_NAME.bill|capfirst "-billsec"  %}
                        </abbr>
                    {% endifequal %}
                </th>
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'hangup_cause_id' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "hangup_cause_id"  %}
                        {{ CDR_COLUMN_NAME.hangup_cause|capfirst }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-hangup_cause_id"  %}
                    {% else %}
                      {% sort_link CDR_COLUMN_NAME.hangup_cause|capfirst "-hangup_cause_id"  %}
                    {% endifequal %}
                </th>
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'accountcode' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "accountcode"  %}
                        {{ CDR_COLUMN_NAME.account|capfirst }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-accountcode"  %}
                    {% else %}
                      {% sort_link CDR_COLUMN_NAME.account|capfirst "-accountcode"  %}
                    {% endifequal %}
                </th>
                {% if user.is_superuser %}
                    <th class="sortable" scope="col">
                        {% ifequal col_name_with_order.sort_field 'buy_rate' %}
                            {% sort_link "<i class='icon-chevron-up'></i>" "buy_rate"  %}
                            {{ CDR_COLUMN_NAME.buy_rate|capfirst }}
                            {% sort_link "<i class='icon-chevron-down'></i>" "-buy_rate"  %}
                        {% else %}
                            {% sort_link CDR_COLUMN_NAME.buy_rate|capfirst "-buy_rate"  %}
                        {% endifequal %}
                    </th>
                    <th class="sortable" scope="col">
                        {% ifequal col_name_with_order.sort_field 'buy_cost' %}
                            {% sort_link "<i class='icon-chevron-up'></i>" "buy_cost"  %}
                            {{ CDR_COLUMN_NAME.buy_cost|capfirst }}
                            {% sort_link "<i class='icon-chevron-down'></i>" "-buy_cost"  %}
                        {% else %}
                            {% sort_link CDR_COLUMN_NAME.buy_cost|capfirst "-buy_cost"  %}
                        {% endifequal %}
                    </th>
                {% endif %}
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'sell_rate' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "sell_rate"  %}
                        {{ CDR_COLUMN_NAME.sell_rate|capfirst }}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-sell_rate"  %}
                    {% else %}
                        {% sort_link CDR_COLUMN_NAME.sell_rate|capfirst "-sell_rate"  %}
                    {% endifequal %}
                </th>
                <th class="sortable" scope="col">
                    {% ifequal col_name_with_order.sort_field 'sell_cost' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "sell_cost"  %}
                        {{ CDR_COLUMN_NAME.sell_cost|capfirst }}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-sell_cost"  %}
                    {% else %}
                        {% sort_link CDR_COLUMN_NAME.sell_cost|capfirst "-sell_cost"  %}
                    {% endifequal %}
                </th>
                <th></th>
            </tr>
            </thead>
            {% if cdr_daily_data.total_calls %}
            {% autopaginate rows cdr_stats_page_size %}
            {% for row in rows %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ row.start_uepoch }}</td>
                <td>
                    {{ row.caller_id_number }}
                    {% if row.caller_id_number and row.caller_id_name %}
                        -
                    {% endif %}
                    {{ row.caller_id_name }}
                </td>
                <td>{{ row.destination_number }}</td>
                <td>{% if result == 1 %}
                        {{ row.duration|conv_min }}
                    {% else %}
                        {{ row.duration }}
                    {% endif %}
                </td>
                <td>{% if result == 1 %}
                        {{ row.billsec|conv_min }}
                    {% else %}
                        {{ row.billsec }}
                    {% endif %}
                </td>
                <td>
                  {% cache 1800 hangupcause_name row.hangup_cause_id %}
                    {{ row.hangup_cause_id|hangupcause_name }}
                  {% endcache %}
                </td>
                <td>{{ row.accountcode }}</td>
                {% if user.is_superuser %}
                    <td>{{ row.buy_rate }}</td>
                    <td>{{ row.buy_cost }}</td>
                {% endif %}
                <td>{{ row.sell_rate }}</td>
                <td>{{ row.sell_cost }}</td>
                <td>
                    <div class="flag_icon">
                        {% if row.country_id %}
                            {% cache 1800 hcountry_flag row.country_id %}
                                <img src="{{ STATIC_URL }}cdr-stats/{{ row.country_id|iso_flag }}" class="elemtooltip" title="{{ row.country_id|country_name }}">
                            {% endcache %}
                        {% else %}
                            <img src="{{ STATIC_URL }}cdr-stats/icons/world.png" class="elemtooltip" title="{% trans "World" %}">
                        {% endif %}
                        {% if row.authorized == 1  %}
                            <img src="{{ STATIC_URL }}cdr-stats/icons/flag_green.png" class="elemtooltip" title="{% trans "Authorized call" %}"/>
                        {% else %}
                            <img src="{{ STATIC_URL }}cdr-stats/icons/flag_red.png" class="elemtooltip" title="{% trans "Unauthorized call" %}"/>
                        {% endif %}
                        {% ifequal row.direction 'inbound' %}
                            <img src="{{STATIC_URL}}cdr-stats/icons/door_in.png" title="{{ row.direction|capfirst }} {% trans "call"|capfirst %}" class="elemtooltip"/>
                        {% else %}
                            {% ifequal row.direction 'outbound' %}
                                <img src="{{ STATIC_URL }}cdr-stats/icons/door_out.png" title="{{ row.direction|capfirst }}  {% trans "call"|capfirst %}" class="elemtooltip"/>
                            {% else %}
                                <img src="{{ STATIC_URL }}cdr-stats/icons/door.png" title="{{ row.direction|capfirst }}  {% trans "call"|capfirst %}" class="elemtooltip"/>
                            {% endifequal %}
                        {% endifequal %}

                        {% if "cdr_object_id" in row %}
                            {% if perms.user_profile.cdr_detail %}
                                <a href='/cdr_detail/{{ row.cdr_object_id }}/{{ row.switch_id }}' target="_blank"><img src="{{ STATIC_URL }}cdr-stats/icons/zoom.png" class="elemtooltip" title="{% trans "show details"|capfirst %}"/></a>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <tr>
                <td colspan="12" align="center">
                    {% trans "no records found"|title %}
                </td>
            </tr>
            {% endif %}
            <tr>
              <td colspan="12" align="right">
                {% trans "show rows"|title %} :
                {{ form.records_per_page }}
                {% trans "total calls"|title %} : {{ record_count }}
              </td>
            </tr>
        </table>
        </form>
      </div>
      </div>
      <div align="center">
        {% if rows %}
            {% paginate %}
        {% endif %}
      </div>
      </div>
      <div id="tabs-2">
      <div class="module" id="changelist">
        <div class="result">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th scope="col">{% trans "date"|capfirst  %}</th>
                <th scope="col">{% trans "duration"|capfirst  %}</th>
                <th scope="col">{% trans "graphic"|capfirst  %}</th>
                <th scope="col">{% trans "calls"|capfirst  %}</th>
                <th scope="col"><acronym title="{% trans "average connection time"|title  %}">{% trans "ACT"  %}</acronym></th>
                <th scope="col">{% trans "buy cost"|capfirst %}</th>
                <th scope="col">{% trans "sell cost"|capfirst %}</th>
            </tr>
            </thead>
            {% for td in cdr_daily_data.total_data %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ td.calldate|date:"D d M Y" }}</td>
                <td>
                    {% if result == 1 %}
                        {{ td.duration__sum|conv_min }}
                    {% else %}
                        {{ td.duration__sum }}
                    {% endif %}
                </td>
                <td>{% if cdr_daily_data.max_duration > 0 %}
                    <img src="{{ STATIC_URL }}cdr-stats/images/spacer.png" width="{{ td.duration__sum|cal_width:cdr_daily_data.max_duration }}" style="vertical-align:center; height:10px"/>
                    {% endif %}
                </td>
                <td>{{ td.calldate__count }}</td>
                <td>{{ td.duration__avg|conv_min }}</td>
                {% if user.is_superuser %}
                    <td>{{ td.buy_cost }}</td>
                {% endif %}
                <td>{{ td.sell_cost }}</td>
            </tr>
            {% endfor %}

            <tr>
                <th scope="row">{% trans "total"|title  %}</th>
                <td>{{ cdr_daily_data.total_duration|conv_min }}</td>
                <td></td>
                <td>{{ cdr_daily_data.total_calls }}</td>
                <td>{{ cdr_daily_data.total_avg_duration|conv_min }}</td>
                <td>{{ cdr_daily_data.total_buy_cost }}</td>
                <td>{{ cdr_daily_data.total_sell_cost }}</td>
            </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
