{% extends "admin/change_list.html" %}
{% load i18n admin_modify admin_urls common_tags %}

{% block breadcrumbs %}
    {% if not is_popup %}
    <div class="breadcrumbs">
         <a href="../../../">{% trans "home"|capfirst %}</a> &rsaquo;
         <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
         <a href="/admin/{{ opts.app_label }}/{{ model_name }}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
         Import {{ opts.verbose_name }}
    </div>
    {% endif %}
{% endblock %}

{% block content %}

<div id="content-main">
<br/>

<table border="1">
<caption>{% trans "sample file"|title %}</caption>
<tr>
    <th>{% trans "caller_id_number" %}</th>
    <th>{% trans "caller_id_name" %}</th>
    <th>{% trans "destination_number" %}</th>
    <th>{% trans "duration" %}</th>
    <th>{% trans "billsec" %}</th>
    <th>{% trans "hangup_cause_id" %}</th>
    <th>{% trans "direction" %}</th>
    <th>{% trans "uuid" %}</th>
    <th>{% trans "remote_media_ip" %}</th>
    <th>{% trans "start_uepoch" %}</th>
    <th>{% trans "answer_uepoch" %}</th>
    <th>{% trans "end_uepoch" %}</th>
    <th>{% trans "mduration" %}</th>
    <th>{% trans "billmsec" %}</th>
    <th>{% trans "read_codec" %}</th>
    <th>{% trans "write_codec" %}</th>
</tr>
<tr>
    <td>1773500</td>
    <td>Hector Fania</td>
    <td>065350450</td>
    <td>200</td>
    <td>181</td>
    <td>17</td>
    <td>inbound</td>
    <td>3h708846-9036-11e1-964f-000c296bd876</td>
    <td>192.168.1.22</td>
    <td>1327521566</td>
    <td>1327521566</td>
    <td>1327521566</td>
    <td>200170</td>
    <td>181460</td>
    <td>G722</td>
    <td>G722</td>
</tr>
<tr>
    <td>1773501</td>
    <td>John Bench</td>
    <td>44111919</td>
    <td>90</td>
    <td>85</td>
    <td>16</td>
    <td>inbound</td>
    <td>3e308846-9036-11e1-964f-000c296bd875</td>
    <td>192.168.1.21</td>
    <td>1327521966</td>
    <td>1327521966</td>
    <td>1327521966</td>
    <td>90960</td>
    <td>85411</td>
    <td>G722</td>
    <td>G722</td>
</tr>
</table>

<br/>

<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    <table border="0">
    {% get_fieldset switch,accountcode_csv,csv_file,import_asterisk as file_fields from form %}
    {% for field in file_fields %}
        <tr>
            <td>{{ field.label|title }}</td>
            <td>
                {% if field.errors %}
                    <ul class="errorlist">
                        <li>{{ field.errors|removetags:"ul li"|safe }}<li>
                    </ul>
                {% endif %}
                {{ field }}
                <br/>{{ field.help_text|capfirst }}
            </td>
        </tr>
    {% endfor %}
    </table>

    <table>
        <tr class="row1"><td colspan="14"><b>{% trans "mandatory fields to import"|capfirst %}</b></td></tr>
        <tr class="row2">
            {% get_fieldset caller_id_number,destination_number,start_uepoch,duration,billsec,hangup_cause_id,uuid as file_fields from form %}
            {% for field in file_fields %}
                <td>{{ field.label|title }}</td>
                <td>
                    {% if field.errors %}
                        <ul class="errorlist">
                            <li>{{ field.errors|removetags:"ul li"|safe }}<li>
                        </ul>
                    {% endif %}
                    {{ field }}
                    <br/>{{ field.help_text|capfirst }}
                </td>
            {% endfor %}
        </tr>
        <tr><td colspan="14"></td></tr>
        <tr class="row1"><td colspan="14"><b>{% trans "extra fields to import"|capfirst %}</b></td></tr>
        <tr class="row2">
            {% get_fieldset caller_id_name,direction,remote_media_ip,answer_uepoch,end_uepoch as file_fields from form %}
            {% for field in file_fields %}
                <td>{{ field.label|title }}</td>
                <td>
                    {% if field.errors %}
                        <ul class="errorlist">
                            <li>{{ field.errors|removetags:"ul li"|safe }}<li>
                        </ul>
                    {% endif %}
                    {{ field }}
                    <br/>{{ field.help_text|capfirst }}
                </td>
            {% endfor %}
        </tr>
        <tr class="row1">
            {% get_fieldset mduration,billmsec,read_codec,write_codec,accountcode as file_fields from form %}
            {% for field in file_fields %}
                <td>{{ field.label|title }}</td>
                <td>
                    {% if field.errors %}
                        <ul class="errorlist">
                            <li>{{ field.errors|removetags:"ul li"|safe }}<li>
                        </ul>
                    {% endif %}
                    {{ field }}
                    <br/>{{ field.help_text|capfirst }}
                </td>
            {% endfor %}
        </tr>
    </table>

    <table>
    <tr>
        <td colspan="2" align="right">
        <input type="submit" class="l-1" name="submit" value="{% trans "submit"|capfirst %}" />&nbsp;
        <input type="reset" name="reset" class="j-2" value="{% trans "reset"|capfirst %}" />
        </td>
    </tr>
    </table>
</form>

<br/>
<br/>

{% block msg %}
    {% if msg %}
        <ul>
            <li>{{ msg }}</li>
        </ul>
    {% endif %}
{% endblock %}

<br/>
<br/>



{% if success_import_list %}
    <table border="1">
    <tr>
        <th>{% trans "contact(s) imported"|capfirst %} :</th>
    </tr>
    {% for row in success_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
    {% endfor %}
    </table>
{% endif %}

{% if error_import_list %}
<br>
    <table border="1">
    <tr>
        <th>{% trans "contact(s) not imported"|capfirst %} :</th>
    </tr>
    {% for row in error_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
    {% endfor %}
    </table>
{% endif %}

{% if type_error_import_list %}
<br>
    <table border="1">
    <tr>
        <th>{% trans "type mismatch"|capfirst %} :</th>
    </tr>
    {% for row in type_error_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
    {% endfor %}
    </table>
{% endif %}


</div>
{% endblock %}