{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "API Browser" %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}cdr-stats/images/favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}api_browser/css/h5bp.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}api_browser/css/screen.css">
    <!-- Le styles -->
    <link href="{{STATIC_URL}}cdr-stats/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 65px;
            padding-bottom: 40px;
    }
    </style>
    <link href="{{STATIC_URL}}cdr-stats/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!--Override bootstrap-->
    <link href="{{STATIC_URL}}cdr-stats/css/override_bootstrap.css" rel="stylesheet">

    <!-- Le javascript -->
    <script type="text/javascript" src="{{STATIC_URL}}cdr-stats/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}cdr-stats/js/jquery-ui-1.9.1.custom.min.js"></script>

    <script src="{{STATIC_URL}}cdr-stats/bootstrap/js/bootstrap.js"></script>

    <!-- CDR-stats custom css -->
    <link type="text/css" media="screen" href="{{STATIC_URL}}cdr-stats/css/cdr_stats.css" rel="stylesheet"/>

    <style type="text/css">
    body {
        color: black;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 20px;
    }
    .container_custom{
        margin: 0px 0px 0px 200px;
        width: 1000px;
    }
    </style>
</head>
<body>
    {% block menu %}
        {% include "frontend/bootstrap_menu.html" %}
    {% endblock %}

    {% block container %}
        <div class="container_custom">

            <ul class="breadcrumb">
                <li><a href="/api-explorer/"> {% trans "API Explorer" %}</a> /</li>
                <li class="active">{{ schema.title }}</li>
            </ul>

            {% block content %}
            {% endblock %}

            {% block footer %}{% endblock %}
        </div>
    {% endblock %}

    <script src="{{ STATIC_URL }}api_browser/js/jquery.class.min.js"></script>
    <script src="{{ STATIC_URL }}api_browser/js/jquery.rest-form.js"></script>
    <script src="{{ STATIC_URL }}api_browser/js/jquery.form2json.js"></script>
    <script src="{{ STATIC_URL }}api_browser/js/app.js"></script>
    {% block javascripts %}{% endblock %}

    </body>
</html>
