{% extends "frontend/master.html" %}
{% load i18n %}

{% block title %}{% trans 'password reset successful'|title %}{% endblock %}

{% block content_header %}
    <h1>{% trans "Forgotten your password?"|title %} <small>{% trans "reset and request a new password"|capfirst %}</small></h1>
{% endblock %}

{% block content %}
<div class="login" align="center">
    <div class="alert alert-success">{% trans 'password reset successful'|title %}</div>
    <br/>
    <h3>{% trans "we've e-mailed you instructions for setting a new password."|capfirst %}</h3>
 </div>
{% endblock %}
