{% extends "frontend/master.html" %}
{% load i18n utils_tags crispy_forms_tags %}

{% block title %}{% trans 'password reset'|title %}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

{% if validlink %}
    <p><h2>{% trans 'enter new password'|title %}</h2></p>

    <div class="alert alert-info">{% trans "please enter your new password twice for verification."|capfirst %}</div>

    {% crispy custom_set_password_form custom_set_password_form.helper %}

{% else %}

    <div class="alert alert-error">
        {% trans 'password reset unsuccessful'|title %}
    </div>
    <br/>
    <div class="alert alert-error">
        {% trans "the password reset link was invalid, possibly because it has already been used. please request a new password reset."|capfirst %}
    </div>

{% endif %}

{% endblock %}
