{% extends "frontend/master.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "password reset"|title %}{% endblock %}

{% block content_header %}
    <h1>{% trans "Forgotten your password?"|title %} <small>{% trans "reset and request a new password"|capfirst %}</small></h1>
{% endblock %}

{% block content %}
    <br/>
    <h3>{% trans "enter your e-mail address below, and we'll e-mail instructions for setting a new one."|capfirst %}</h3>
    {% crispy forgotform forgotform.helper %}
{% endblock %}
