global-exclude *.pyc

include README.rst
include COPYING
include cdr_stats/django.wsgi
include install/requirements/all-requirements.txt
include install/requirements/dev-requirements.txt
include install/requirements/install-requirements.sh
include install/requirements/rtd-requirements.txt
include install/requirements/basic-requirements.txt
include install/requirements/django-requirements.txt
include install/requirements/notebook-requirements.txt
include install/requirements/test-requirements.txt

recursive-include cdr_stats *
