{% extends "frontend/master.html" %}
{% load i18n cdr_tags nvd3_tags %}

{% block extra_header %}

    <script type="text/javascript">
        $(function() {
            $("#id_from_date").datepicker({ format: 'yyyy-mm-dd' });
        });
    </script>
    {% include_nvd3jscss False %}
{% endblock %}

{% block content %}
    <div id="form_collapse" class="collapse">
        <form class="form-search well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span6">
                        <label class="control-label" for="{{ form.from_date.auto_id }}">{{ form.from_date.label|title }}</label>
                        <div class="input">
                            {{ form.from_date }}&nbsp;&nbsp;{{ form.comp_days }}
                            <span class="help-block">{{ form.from_date.help_text|capfirst|safe }} </span>
                        </div>
                    </div>
                    <div class="span4">
                        <label class="control-label" for="{{ form.check_days.auto_id }}">{{ form.check_days.label|title }}</label>
                        <div class="input">
                            {{ form.check_days|removetags:"ul li label"|safe }}
                            <span class="help-block">{{ form.check_days.help_text|capfirst|safe }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span6">
                        <label class="control-label" for="{{ form.graph_view.auto_id }}">{{ form.graph_view.label|title }}</label>
                        <div class="input">
                            {{ form.graph_view }}
                        </div>
                    </div>
                    <div class="span4">
                        <label class="control-label" for="{{ form.switch.auto_id }}">{{ form.switch.label|title }}</label>
                        <div class="input">
                            {{ form.switch }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label>&nbsp;</label>
        <div class="actions">
            <input class="btn btn-primary" type=submit name=submit value={% trans "search"|title %} />
        </div>
        </form>
    </div>

    <a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
        <i class="icon-search"></i> <span>{% trans "advanced search"|title %}</span>
    </a>

    <div class="row">
        <div class="span12">
        <div class="graph_header">
            {% trans "Call Statistics" %} -
            <b>
                {% if from_date  %}
                    {{ from_date|date:"jS N Y" }} {% trans "with previous" %} {{ comp_days|cut:"-" }} {% trans "days" %}
                {% endif %}
            </b>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            {% load_chart charttype chartdata "hourly_container" %}
            {% include_container "hourly_container" 400 '100%' %}
        </div>
    </div>

{% endblock %}