{% extends "frontend/master.html" %}
{% load i18n cdr_tags cache nvd3_tags %}

{% block extra_header %}
    {% include "frontend/common_datepicker.html" %}
    <style type="text/css">
        #placeholder_cdr_analytic div.legend table {
            width: 5%;
            margin-right: -70px;
        }
    </style>
    {% include_nvd3jscss %}
{% endblock %}

{% block content %}
<div id="form_collapse" class="collapse">
<form class="well form-search" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span4">
                    <label class="control-label" for="{{ form.from_date.auto_id }}">{{ form.from_date.label|title }}</label>
                    <div class="input">
                        {{ form.from_date }}
                        <span class="help-block">{{ form.from_date.help_text|capfirst|safe }} </span>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label" for="{{ form.to_date.auto_id }}">{{ form.to_date.label|title }}</label>
                    <div class="input">
                        {{ form.to_date }}
                        <span class="help-block">{{ form.to_date.help_text|capfirst|safe }} </span>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label" for="{{ form.switch.auto_id }}">{{ form.switch.label|title }}</label>
                    <div class="input">
                        {{ form.switch }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <label>&nbsp;</label>
    <div class="actions">
        <input class="btn btn-primary" type=submit name=submit value={% trans "search"|title %} />
    </div>
</form>
</div>

<a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
    <i class="icon-search"></i> <span>{% trans "advanced search"|title %}</span>
</a>

<script id="source" language="javascript" type="text/javascript">
$(function () {

    var hour_call_count = [
        {% regroup total_hour_record|dictsort:"switch_id" by switch_id as switch_list %}
        {% for rc in switch_list %}
            {% ifnotequal rc.grouper 0 %}
            {
                    label: {% cache 1800 sw_id_1 rc.grouper %}
                           '{{ rc.grouper|get_switch_ip }}'
                           {% endcache %},
                    data: [
                        {% for item in rc.list %}
                            [parseInt({{ item.dt }}), {{ item.calldate__count }}],
                        {% endfor %}
                    ]
            },
            {% endifnotequal %}
        {% endfor %}
        //sum of all switches
        {
            label: '{% trans "total calls"|title %}',
            data: [
                {% for item in total_hour_data %}
                    [parseInt({{ item.0 }}), {{ item.1.call_count }}],
                {% endfor %}
            ],
            color: '{{ TOTAL_GRAPH_COLOR }}'
        }
    ];

    var hour_call_duration = [
        {% regroup total_hour_record|dictsort:"switch_id" by switch_id as switch_list %}
        {% for rc in switch_list %}
            {% ifnotequal rc.grouper 0 %}
            {
                    label: {% cache 1800 sw_id_2 rc.grouper %}
                           '{{ rc.grouper|get_switch_ip }}'
                           {% endcache %},
                    data: [
                        {% for item in rc.list %}
                            [parseInt({{ item.dt }}), {{ item.duration__sum }}],
                        {% endfor %}
                    ]
            },
            {% endifnotequal %}
        {% endfor %}
        //sum of all switches
        {
            label: '{% trans "total duration"|title %}',
            data: [
                {% for item in total_hour_data %}
                    [parseInt({{ item.0 }}), {{ item.1.duration_sum }}],
                {% endfor %}
            ],
            color: '{{ TOTAL_GRAPH_COLOR }}'
        }
    ];

    var day_call_count = [
        {% regroup total_day_record|dictsort:"switch_id" by switch_id as switch_list %}
        {% for rc in switch_list %}
            {% ifnotequal rc.grouper 0 %}
            {
                    label: {% cache 1800 sw_id_3 rc.grouper %}
                           '{{ rc.grouper|get_switch_ip }}'
                           {% endcache %},
                    data: [
                        {% for item in rc.list %}
                            [parseInt({{ item.dt }}), {{ item.calldate__count }}],
                        {% endfor %}
                    ]
            },
            {% endifnotequal %}
        {% endfor %}
        //sum of all switches
        {
            label: '{% trans "total calls"|title %}',
            data: [
                {% for item in total_day_data %}
                    [parseInt({{ item.0 }}), {{ item.1.call_count }}],
                {% endfor %}
            ],
            color: '{{ TOTAL_GRAPH_COLOR }}'
        }
    ];

    var day_call_duration = [
        {% regroup total_day_record|dictsort:"switch_id" by switch_id as switch_list %}
        {% for rc in switch_list %}
            {% ifnotequal rc.grouper 0 %}
            {
                    label: {% cache 1800 sw_id_4 rc.grouper %}
                           '{{ rc.grouper|get_switch_ip }}'
                           {% endcache %},
                    data: [
                        {% for item in rc.list %}
                            [parseInt({{ item.dt }}), {{ item.duration__sum }}],
                        {% endfor %}
                    ]
            },
            {% endifnotequal %}
        {% endfor %}
        //sum of all switches
        {
            label: '{% trans "total duration"|title %}',
            data: [
                {% for item in total_day_data %}
                    [parseInt({{ item.0 }}), {{ item.1.duration_sum }}],
                {% endfor %}
            ],
            color: '{{ TOTAL_GRAPH_COLOR }}'
        }
    ];

    var month_data_call_count = [
        {% regroup total_month_record|dictsort:"switch_id" by switch_id as switch_list %}
        {% for rc in switch_list %}
            {% ifnotequal rc.grouper 0 %}
            {
                    label: {% cache 1800 sw_id_5 rc.grouper %}
                           '{{ rc.grouper|get_switch_ip }}'
                           {% endcache %},
                    data: [
                        {% for item in rc.list %}
                            [parseInt({{ item.dt }}), {{ item.calldate__count }}],
                        {% endfor %}
                    ]
            },
            {% endifnotequal %}
        {% endfor %}
        //sum of all switches
        {
            label: '{% trans "total calls"|title %}',
            data: [
                {% for item in total_month_data %}
                    [parseInt({{ item.0 }}), {{ item.1.call_count }}],
                {% endfor %}
            ],
            color: '{{ TOTAL_GRAPH_COLOR }}'
        }
    ];

    var month_data_call_duration = [
        {% regroup total_month_record|dictsort:"switch_id" by switch_id as switch_list %}
        {% for rc in switch_list %}
            {% ifnotequal rc.grouper 0 %}
            {
                    label: {% cache 1800 sw_id_6 rc.grouper %}
                           '{{ rc.grouper|get_switch_ip }}'
                           {% endcache %},
                    data: [
                        {% for item in rc.list %}
                            [parseInt({{ item.dt }}), {{ item.duration__sum }}],
                        {% endfor %}
                    ]
            },
            {% endifnotequal %}
        {% endfor %}
        //sum of all switches
        {
            label: '{% trans "total duration"|title %}',
            data: [
                {% for item in total_month_data %}
                    [parseInt({{ item.0 }}), {{ item.1.sum_duration }}],
                {% endfor %}
            ],
            color: '{{ TOTAL_GRAPH_COLOR }}'
        }
    ];

    function formTicks(val) {
        var dt = new Date(parseInt(val));
        var Year = dt.getFullYear();
        var Month = dt.getMonth() + 1;
        var Day = dt.getDate();
        var hour = dt.getHours();
        var minute = dt.getMinutes();
        var ampm = hour >= 12 ? 'pm' : 'am';
        var hour = hour % 12;
        Month = Month < 10 ? '0' + Month : Month;
        Day = Day < 10 ? '0' + Day : Day;
        month_name = MonthName(Month, 0);
        hour = hour ? hour : 12; // the hour '0' should be '12'
        minute = minute < 10 ? '0' + minute : minute;

        var graph_type = $('#id_graph_type').val();
        if (graph_type=='hour') {
            strTime = Day + ', ' + month_name + ' ' + Year + '<br/>' + hour + ':' + minute + ' ' + ampm;
            return strTime
        }
        if (graph_type=='day') {
            strTime = Day + ', '+ month_name + ' ' + Year
            return strTime
        }
        if (graph_type=='month') {
            strTime = month_name + '  ' +  Year
            return strTime
        }
    }

    var options = {
        legend: {
            position: "ne",
            margin: [-40, 0],
            backgroundOpacity: 0
        },
        series: {
            lines: { show: true},
            points: { show: true }
        },
        yaxis: {
            min: 0,
            tickDecimals: false
        },
        xaxis: {
            mode: "time",
            tickLength: 5,
            tickFormatter: function(val) { return formTicks(val) },
        },
        grid: {
            hoverable: true,
            xaxis: false
        },
        selection: { mode: "x" }
      };

    //default data set - hour_call_count
    var plot = $.plot($("#placeholder_cdr_analytic"), hour_call_count, options);

    function overview_graph(data_set) {
        var overview_option = {
            legend: {show: false},
            series: {
                lines: { show: true, lineWidth: 1 },
                shadowSize: 0
            },
            xaxis: { ticks: [], mode: "time" },
            yaxis: { ticks: [], min: 0, autoscaleMargin: 0.1 },
            selection: { mode: "x" }
        };

        var overview = $.plot($("#overview_analytic"), data_set, overview_option);

        // now connect the two
        $("#placeholder_cdr_analytic").bind("plotselected", function (event, ranges) {
            // do the zooming
            plot = $.plot($("#placeholder_cdr_analytic"), data_set,
                $.extend(true, {}, options, {
                    xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                }));
            // don't fire event on the overview to prevent eternal loop
            overview.setSelection(ranges, true);
        });

        $("#overview_analytic").bind("plotselected", function (event, ranges) {
            plot.setSelection(ranges);
        });
    }

    //default data set - hour_call_count
    overview_graph(hour_call_count);

    $("#placeholder_cdr_analytic").bind("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);
                var d = new Date(parseInt(x));
                Year = d.getFullYear();
                Month = d.getMonth() + 1;
                Day = d.getDate();
                Hour = d.getHours();
                month_name = MonthName(Month, 0);
                var graph_type = $('#id_graph_type').val();
                var graph_view = $('#id_graph_view').val();
                //alert(graph_type +' '+graph_view);
                var date_tag = '{% trans "date"|title %}';
                var call_tag = '{% trans "calls"|title %}';
                var duration_tag = '{% trans "duration"|title %}';
                var hour_tag = '{% trans "hour"|title %}';
                if(graph_type=='hour' && graph_view=='count')
                {
                    date_string = date_tag + ' - ' + Day + ', ' + month_name + ' ' + Year + '<br>{% trans "hour"|title %}: ' + Hour ;
                    value_string = call_tag + ' - ' + parseInt(y);
                }
                if(graph_type=='hour' && graph_view=='duration')
                {
                    date_string = date_tag + ' - ' + Day + ', ' + month_name + ' ' + Year + '<br>{% trans "hour"|title %}: ' + Hour;
                    value_string = duration_tag + ' - ' + y;
                }

                if(graph_type=='day' && graph_view=='count')
                {
                    date_string = date_tag + ' - ' + Day + ', ' + month_name + ' ' + Year;
                    value_string = call_tag + ' - ' + parseInt(y);
                }
                if(graph_type=='day' && graph_view=='duration')
                {
                    date_string = date_tag + ' - ' + Day + ', ' + month_name + ' ' + Year;
                    value_string = duration_tag + ' - ' + y;
                }

                if(graph_type=='month' && graph_view=='count')
                {
                    date_string = month_name + ' - ' + Year ;
                    value_string = call_tag + ' - ' + parseInt(y);
                }
                if(graph_type=='month' && graph_view=='duration')
                {
                    date_string = month_name + ' - ' + Year;
                    value_string = duration_tag + ' - ' + y;
                }

                output = '<div class="graph_tooltip_info">' + date_string + "<br/>"+ value_string + '</div>';

                showTooltip(item.pageX, item.pageY, output);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });

    function call_count_graph(graph_type_val, graph_title, data_set)
    {
        $('#id_graph_type').val(graph_type_val);
        $('#id_title_span').text(graph_title);
        var plot = $.plot($("#placeholder_cdr_analytic"), data_set, options);
        overview_graph(data_set);
        $('#id_count').button('toggle');
    }

    $("#id_hour").click(function () {
        call_count_graph('hour', '{% trans "load by hour"|title %}', hour_call_count)
    });

    $("#id_day").click(function () {
        call_count_graph('day', '{% trans "load by day"|title %}', day_call_count)
    });

    $("#id_month").click(function () {
        call_count_graph('month', '{% trans "load by month"|title %}', month_data_call_count)
    });


    $("#id_count").click(function () {
        $('#id_graph_view').val('count');
        var graph_type = $('#id_graph_type').val();
        if(graph_type =='hour')
        {
            $('#id_title_span').text('{% trans "load by hour"|title %}');
            $.plot($("#placeholder_cdr_analytic"), hour_call_count, options);
            overview_graph(hour_call_count);
        }
        if(graph_type =='day')
        {
            $('#id_title_span').text('{% trans "load by day" %}');
            $.plot($("#placeholder_cdr_analytic"), day_call_count, options);
            overview_graph(day_call_count);
        }
        if(graph_type =='month')
        {
            $('#id_title_span').text('{% trans "load by month" %}');
            $.plot($("#placeholder_cdr_analytic"), month_data_call_count, options);
            overview_graph(month_data_call_count);
        }

    });

    $("#id_duration").click(function () {
        $('#id_graph_view').val('duration');
        var graph_type = $('#id_graph_type').val();
        if(graph_type =='hour')
        {
            $('#id_title_span').text('{% trans "load by hour" %}');
            $.plot($("#placeholder_cdr_analytic"), hour_call_duration, options);
            overview_graph(hour_call_duration);
        }
        if(graph_type =='day')
        {
            $('#id_title_span').text('{% trans "load by day" %}');
            $.plot($("#placeholder_cdr_analytic"), day_call_duration, options);
            overview_graph(day_call_duration);
        }
        if(graph_type =='month')
        {
            $('#id_title_span').text('{% trans "load by month" %}');
            $.plot($("#placeholder_cdr_analytic"), month_data_call_duration, options);
            overview_graph(month_data_call_duration);
        }
    });

    $("#id_dot").click(function () {
        if(options.series.points.show == true)
        {
            options.series.points.show = false;
            $('#id_dot').text('{% trans "points off"|title %}');
        }
        else
        {
            options.series.points.show = true;
            $('#id_dot').text('{% trans "points on"|title %}');
        }
        var graph_view = $('#id_graph_view').val();
        $("#id_"+graph_view).click();

    });
});
</script>

<div class="row"><div class="span6">&nbsp;</div></div>

<div class="row">
    <div class="span12">
        <table align="right">
            <tbody>
            <tr>
                <td class="td-dashboard">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button class="btn active" id="id_hour">{% trans "hour"|title %}</button>
                        <button class="btn" id="id_day">{% trans "day"|title %}</button>
                        <button class="btn" id="id_month">{% trans "month"|title %}</button>
                        <!--default-->
                        <input type="hidden" name="graph_type" id="id_graph_type" value="hour" />
                        <input type="hidden" name="graph_view" id="id_graph_view" value="count" />
                    </div>
                </td>
                <td class="td-dashboard">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button class="btn active" id="id_count">{% trans "count"|title %}</button>
                        <button class="btn" id="id_duration">{% trans "duration"|title %}</button>
                    </div>
                </td>
                <td class="td-dashboard">
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button class="btn" id="id_dot">{% trans "points on"|title %}</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="span12">
        <div class="graph_header">
            <span id="id_title_span">{% trans "load by hour"|title %}</span> -
            <b>
                {% if start_date  %}
                    {{ start_date|date:"jS N Y" }}
                {% endif %}
                {% if end_date  %}
                    {% trans "to" %} {{ end_date|date:"jS N Y" }}
                {% endif %}
            </b>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="placeholder_cdr_analytic"></div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="overview_analytic" style="margin:auto;margin-top:20px;height:50px"></div>
    </div>
</div>

<div class="row">
    <div class="span12">
        {% load_chart hourly_call_charttype hourly_call_chartdata "hourly_call_container" True "%d %b %H" %}
        {% include_container "hourly_call_container" 400 '100%' %}
    </div>
</div>
<div class="row">
    <div class="span12">
        {% load_chart hourly_duration_charttype hourly_duration_chartdata "hourly_duration_container" True "%d %b %H" %}
        {% include_container "hourly_duration_container" 400 '100%' %}
    </div>
</div>
{% endblock %}
