{% extends "frontend/master.html" %}
{% load i18n cdr_extras common_tags %}

{% block title %}{% trans "CDR" %} {% trans "mail report"|title %}{% endblock %}

{% block content %}
    {% if msg %}
        <div class="alert alert-success">
            <strong>{% trans "alert"|title %} : </strong>  {{ msg|capfirst }}
        </div>
    {% endif %}

    <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span6" style="width:510px;">
                    <div class="control-group">
                        <label class="control-label" for="{{ form.multiple_email.auto_id }}">{{ form.multiple_email.label|title }} :</label>
                    </div>
                </div>
                <div class="span6">
                    <div class="controls">
                        {{ form.multiple_email }}
                        {% if form.multiple_email.errors %}
                            <span class="help-inline">{{ form.multiple_email.errors }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label></label>
    <div class="actions">
        <input type="submit" class="btn btn-primary" name="save" value={% trans "save"|title %} />
    </div>
    </form>

    <p>&nbsp;</p>

    <h2>{% trans "preview of the mail report"|capfirst %} :</h2>
    <hr/>

    {% include 'frontend/mail_report_template.html' %}

{% endblock %}