{% extends "frontend/master.html" %}
{% load i18n country_dialcode_tags common_tags nvd3_tags %}
{% load cache %}

{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
        });
    </script>
    {% include "frontend/common_datepicker.html" %}
    {% include_nvd3jscss %}
    {% load_chart country_call_charttype country_call_chartdata "country_call_container" %}
    {% load_chart country_call_charttype country_duration_chartdata "country_duration_container" %}
    {% load_chart final_call_charttype final_call_chartdata "final_call_container" True %}

    <script>
        $(function () {
            $('a[data-toggle="tab"]').on('shown', function (e) {
                if (e.target.hash == '#tabs-2') {
                    {% load_chart final_duration_charttype final_duration_chartdata "final_duration_container" True False %}
                }
            })
        })
    </script>

{% endblock %}


{% block content %}
<div id="form_collapse" class="collapse">
    <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span4">
                    <label class="control-label" for="{{ form.from_date.auto_id }}">{{ form.from_date.label|title }}</label>
                    <div class="input">
                        {{ form.from_date }}
                        <span class="help-block">{{ form.from_date.help_text|capfirst|safe }} </span>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label" for="id_{{ form.to_date.name }}">{{ form.to_date.label|title }}</label>
                    <div class="input">
                        {{ form.to_date }}
                        <span class="help-block">{{ form.to_date.help_text|capfirst|safe }} </span>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label" for="{{ form.duration.auto_id }}">{{ form.duration.label|title }}</label>
                    <div class="input">
                        {{ form.duration }}&nbsp;{{ form.duration_type }}
                    </div>
                    {% if form.duration.errors %}
                        <span class="help-inline error">{{ form.duration.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span4">
                    <label class="control-label" for="{{ form.country_id.auto_id }}">{{ form.country_id.label|title }}</label>
                    <div class="input">
                        {{ form.country_id }}
                        <span class="help-block">{{ form.country_id.help_text|capfirst|safe }} </span>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label" for="{{ form.switch.auto_id }}">{{ form.switch.label|title }}</label>
                    <div class="input">
                        {{ form.switch }}
                        <span class="help-block">{{ form.switch.help_text|capfirst|safe }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label></label>
    <div class="actions">
      <input type="submit" class="btn btn-primary" name="search" value={% trans "search"|title %} />
    </div>
    </form>
</div>

<a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
  <i class="icon-search"></i> <span>{% trans "advanced search"|title %}</span>
</a>

<br/><br/>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li {% if action == "tabs-1" %}class="active"{% endif %}><a href="#tabs-1" data-toggle="tab">{% trans "country call"|title %}</a></li>
        <li {% if action == "tabs-2" %}class="active"{% endif %}><a href="#tabs-2" data-toggle="tab">{% trans "country duration"|title %}</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabs-1" class="tab-pane {% if action == "tabs-1" or action == "" %}active{% endif %}">
            <div class="row">
                <div class="span12">
                    <div class="graph_header">
                        <h2>{% trans "country call statistics"|title %}</h2>
                    </div>

                    {% include_container "final_call_container" 400 '100%' %}
                </div>
            </div>

        </div>
        <div id="tabs-2" class="tab-pane {% if action == "tabs-2" or action == "" %}active{% endif %}">
            <div class="row">
                <div class="span12">
                    <div class="graph_header">
                        <h2>{% trans "country duration statistics"|title %}</h2>
                    </div>

                    {% include_container "final_duration_container" 400 '100%' %}
                </div>
            </div>

        </div>
    </div>
</div>

<br/><br/>

<div class="row">
    <div class="span6 welldashboard">
        <h2 align="center">{% trans "calls by country"|title %}</h2>
        <hr/>
        {% include_container "country_call_container" 400 500 %}
        <br/>
        <div class="span6">
            <h3 align="left">{% trans "top"|title %} {{ NUM_COUNTRY }} {% trans "calls by country"|title %}</h3>
            <table>
                <tbody>
                {% for country_data in country_analytic %}
                    <tr>
                        <td class="td-dashboard">
                            {% if country_data.3 %}
                                {% cache 1800 hcountry_flag country_data.3 %}
                                    <img src="{{ STATIC_URL }}cdr-stats/{{ country_data.3|iso_flag }}" class="elemtooltip" title="{{ country_data.3|country_name|title }}">
                                {% endcache %}
                            {% else %}
                                <img src="{{ STATIC_URL }}cdr-stats/icons/world.png" class="elemtooltip" title="{% trans "World" %}">
                            {% endif %}
                        </td>
                        <td class="td-dashboard" width="100">
                            {% if country_data.0 %}
                                {{ country_data.0 }}
                            {% else %}
                                {% trans "world"|title  %}
                            {% endif %}
                        </td>
                        <td width="100">{{ country_data.1 }} {% trans "calls"|capfirst %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr style="width:400px;"/>
            <table>
                <tbody>
                <tr>
                    <td class="td-dashboard"></td>
                    <td class="td-dashboard" width="100">{% trans "total"|capfirst %}</td>
                    <td width="100">{{ total_calls }} {% trans "calls"|capfirst %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="span6 welldashboard">
        <h2 align="center">{% trans "duration by country"|title %}</h2>
        <hr/>
        {% include_container "country_duration_container" 400 500 %}
        <br/>
        <div class="span6">
            <h3 align="left">{% trans "top"|title %} {{ NUM_COUNTRY }} {% trans "duration by country"|title %}</h3>
            <table>
                <tbody>
                {% for country_data in country_analytic %}
                    <tr>
                        <td class="td-dashboard">
                            {% if country_data.3 %}
                                {% cache 1800 hcountry_flag country_data.3 %}
                                    <img src="{{ STATIC_URL }}cdr-stats/{{ country_data.3|iso_flag }}" class="elemtooltip" title="{{ country_data.3|country_name|title }}">
                                {% endcache %}
                            {% else %}
                                <img src="{{ STATIC_URL }}cdr-stats/icons/world.png" class="elemtooltip" title="{% trans "World" %}">
                            {% endif %}
                        </td>
                        <td class="td-dashboard" width="100">
                            {% if country_data.0 %}
                                {{ country_data.0 }}
                            {% else %}
                                {% trans "world"|title  %}
                            {% endif %}
                        </td>
                        <td>{{ country_data.2|conv_min }} {% trans "minutes" %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr style="width:400px;"/>
            <table>
                <tbody>
                <tr>
                    <td class="td-dashboard"></td>
                    <td class="td-dashboard" width="100">{% trans "total"|capfirst %}</td>
                    <td>{{ total_duration|conv_min }} {% trans "minutes" %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
