{% extends "frontend/master.html" %}
{% load i18n cdr_tags cache nvd3_tags crispy_forms_tags %}

{% block extra_header %}
    <script type="text/javascript">
        $(function () {
            $('a[data-toggle="tab"]').on('click', function (e) {
                if (e.target.hash == '#tabs-2') {
                    {% load_chart hourly_duration_charttype hourly_duration_chartdata hourly_duration_chartcontainer hourly_duration_extra %}
                }
                if (e.target.hash == '#tabs-3') {
                    {% load_chart daily_call_charttype daily_call_chartdata daily_call_chartcontainer daily_call_extra %}
                }
                if (e.target.hash == '#tabs-4') {
                    {% load_chart daily_duration_charttype daily_duration_chartdata daily_duration_chartcontainer daily_duration_extra %}
                }
                if (e.target.hash == '#tabs-5') {
                    {% load_chart monthly_call_charttype monthly_call_chartdata monthly_call_chartcontainer monthly_call_extra %}
                }
                if (e.target.hash == '#tabs-6') {
                    {% load_chart monthly_duration_charttype monthly_duration_chartdata monthly_duration_chartcontainer monthly_duration_extra %}
                }
            });
        });
    </script>
    {{ form.media }}
{% endblock %}

{% block content %}
<div id="form_collapse" class="collapse">
    {% crispy form form.helper %}
</div>
{% include "frontend/common_search_toggle_button.html" %}

<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="graph_header">
            <b>
                {% if start_date  %}
                    {{ start_date|date:"jS N Y" }}
                {% endif %}
                {% if end_date  %}
                    {% trans "to" %} {{ end_date|date:"jS N Y" }}
                {% endif %}
            </b>
        </div>
    </div>
</div>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li {% if action == "tabs-1" %}class="active"{% endif %}><a href="#tabs-1" data-toggle="tab">{% trans "hourly call"|title %}</a></li>
        <li {% if action == "tabs-2" %}class="active"{% endif %}><a href="#tabs-2" data-toggle="tab">{% trans "hourly duration"|title %}</a></li>

        <li {% if action == "tabs-3" %}class="active"{% endif %}><a href="#tabs-3" data-toggle="tab">{% trans "daily call"|title %}</a></li>
        <li {% if action == "tabs-4" %}class="active"{% endif %}><a href="#tabs-4" data-toggle="tab">{% trans "daily duration"|title %}</a></li>

        <li {% if action == "tabs-5" %}class="active"{% endif %}><a href="#tabs-5" data-toggle="tab">{% trans "monthly call"|title %}</a></li>
        <li {% if action == "tabs-6" %}class="active"{% endif %}><a href="#tabs-6" data-toggle="tab">{% trans "monthly duration"|title %}</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabs-1" class="tab-pane {% if action == 'tabs-1' or action == '' %}active{% endif %}">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    {% load_chart hourly_call_charttype hourly_call_chartdata hourly_call_chartcontainer hourly_call_extra %}
                    {% include_container hourly_call_chartcontainer 400 '100%' %}
                </div>
            </div>
        </div>
        <div id="tabs-2" class="tab-pane {% if action == 'tabs-2' or action == '' %}active{% endif %}">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    {% include_container hourly_duration_chartcontainer 400 '100%' %}
                </div>
            </div>
        </div>

        <div id="tabs-3" class="tab-pane {% if action == 'tabs-3' or action == '' %}active{% endif %}">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    {% include_container daily_call_chartcontainer 400 '100%' %}
                </div>
            </div>
        </div>

        <div id="tabs-4" class="tab-pane {% if action == 'tabs-4' or action == '' %}active{% endif %}">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    {% include_container daily_duration_chartcontainer 400 '100%' %}
                </div>
            </div>
        </div>
        <div id="tabs-5" class="tab-pane {% if action == 'tabs-5' or action == '' %}active{% endif %}">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    {% include_container monthly_call_chartcontainer 400 '100%' %}
                </div>
            </div>
        </div>
        <div id="tabs-6" class="tab-pane {% if action == 'tabs-6' or action == '' %}active{% endif %}">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    {% include_container monthly_duration_chartcontainer 400 '100%' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
