{% load i18n %}

<script type="text/javascript">

    var previousPoint = null;

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
    // toggle event for forms
    $(function() {

        {% if search_tag == 1 %}
            $(".collapse").collapse();
        {% endif %}

        $(".collapse").on('show', function () {
            $('#toggle_btn span').text('{% trans "Hide search" %}');
            $('#toggle_btn i').toggleClass('icon-search');
            $('#toggle_btn i').toggleClass('icon-zoom-out');
        });

        $(".collapse").on('shown', function () {
            $('#toggle_btn span').text('{% trans "Hide search" %}');
        });

        $(".collapse").on('hide', function () {
            $('#toggle_btn span').text('{% trans "advanced search"|title %}');
            $('#toggle_btn i').toggleClass('icon-search');
            $('#toggle_btn i').toggleClass('icon-zoom-out');
        });

        {% if search_tag == 0 %}
            $(".collapse").collapse('hide');
        {% endif %}
    });

    $(function() {
        $('.elemtooltip').tooltip('hide')
    });
    function MonthName(m, type){
        var short_month = new Array(
            "{% trans "jan"|capfirst %}",
                "{% trans "feb"|capfirst %}",
                "{% trans "mar"|capfirst %}",
                "{% trans "apr"|capfirst %}",
                "{% trans "may"|capfirst %}",
                "{% trans "jun"|capfirst %}",
                "{% trans "jul"|capfirst %}",
                "{% trans "aug"|capfirst %}",
                "{% trans "sep"|capfirst %}",
                "{% trans "oct"|capfirst %}",
                "{% trans "nov"|capfirst %}",
                "{% trans "dec"|capfirst %}");
        var month = new Array(
                "{% trans "january"|capfirst %}",
                "{% trans "february"|capfirst %}",
                "{% trans "march"|capfirst %}",
                "{% trans "april"|capfirst %}",
                "{% trans "may"|capfirst %}",
                "{% trans "june"|capfirst %}",
                "{% trans "july"|capfirst %}",
                "{% trans "august"|capfirst %}",
                "{% trans "september"|capfirst %}",
                "{% trans "october"|capfirst %}",
                "{% trans "november"|capfirst %}",
                "{% trans "december"|capfirst %}");
        if (type == 0)
            return short_month[m-1];
        else
            return month[m-1];
    }
</script>
