{% extends "frontend/master.html" %}
{% load i18n cdr_extras common_tags %}

{% block content %}

{% for element in row %}
    <p>{% trans "FreeSWITCH CDR" %} :<pre>{{ element }}</pre></p>
    <p>{% trans "channel data"|title %} : <pre>{{ element.channel_data|to_json }}</pre></p>
    <p>{% trans "callflow"|title %} : <pre>{{ element.callflow|to_json }}</pre></p>
    <p>{% trans "app log"|title %} : <pre>{{ element.app_log|to_json }}</pre></p>
    <p>{% trans "variables"|title %} : <pre>{{ element.variables|to_json }}</pre></p>
{% endfor %}

{% endblock %}
