{% load i18n %}

<script type="text/javascript">

    var previousPoint = null;

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
    // toggle event for forms
    $(function() {

        {% if search_tag == 1 %}
            $(".collapse").collapse();
        {% endif %}

        $(".collapse").on('show', function () {
            $('#toggle_btn span').text('{% trans "Hide search" %}');
            $('#toggle_btn i').toggleClass('icon-search');
            $('#toggle_btn i').toggleClass('icon-zoom-out');
        });

        $(".collapse").on('shown', function () {
            $('#toggle_btn span').text('{% trans "Hide search" %}');
        });

        $(".collapse").on('hide', function () {
            $('#toggle_btn span').text('{% trans "advanced search"|title %}');
            $('#toggle_btn i').toggleClass('icon-search');
            $('#toggle_btn i').toggleClass('icon-zoom-out');
        });

        {% if search_tag == 0 %}
            $(".collapse").collapse('hide');
        {% endif %}
    });

    $(function() {
        $('.elemtooltip').tooltip('hide')
    });
</script>
