{% extends "frontend/master.html" %}
{% load i18n cdr_extras %}
{% load socketio_tags %}

{% block extra_header %}
{% socketio %}
<script src="{{STATIC_URL}}cdr-stats/js/smoothie.js" type="text/javascript"></script>

{% for c_switch in list_switch %}

<script type="text/javascript">
$(function() {
    //TODO: Sent one single request for all VoIP Switches
    var voipswitchname = '{{ c_switch.key_uuid }}';
    var max_call = {{ realtime_graph_maxcall }}
    // Randomly add a data point every 500ms
    var dataSet1 = new TimeSeries(); // dataSet2 = new TimeSeries(), dataSet3 = new TimeSeries();

    function createTimeline{{ c_switch.id }}() {
        var chart = new SmoothieChart({
            minValue: 0.0,
            maxValue: max_call,
            millisPerPixel: 80,
            grid: {
                strokeStyle: '#555555',
                lineWidth: 1,
                millisPerLine: 2000,
                verticalSections: 6,
            },
            labels: { fillStyle:'#F0F0F0' }
        });
        chart.addTimeSeries(dataSet1, { strokeStyle: 'rgba({% cycle colorgraph1 colorgraph2 colorgraph3 %}, 1)', fillStyle: 'rgba({% cycle colorgraph1 colorgraph2 colorgraph3 %}, 0.2)', lineWidth: 2 });
        chart.streamTo(document.getElementById("chart"+voipswitchname), 800);
    }
    createTimeline{{ c_switch.id }}();

    var socket{{ c_switch.id }} = new io.Socket('{{ socketio_host }}',{port: {{ socketio_port }} });

    setInterval(function() {
        data = {voipswitch: voipswitchname, user : {{ user_id }}, message: "get-stats"};
        socket{{ c_switch.id }}.send(data);
        console.log('we just sent to '+voipswitchname);
    }, 5000);

    var connected = function() {
        //socket.subscribe('switch-' + voipswitch);
        socket{{ c_switch.id }}.send({voipswitch: voipswitchname, user : {{ user_id }}, message: "get-stats"});
    };

    var disconnected = function() {
        setTimeout(start{{ c_switch.id }}, 2000);
    };

    var messaged = function(data) {
        //console.log(data);
        var now = new Date().getTime();
        dataSet1.append(now, data[voipswitchname]);
        $("#numbercall-"+voipswitchname).text(data[voipswitchname]);
    };

    var start{{ c_switch.id }} = function() {
        socket{{ c_switch.id }}.connect();
        socket{{ c_switch.id }}.on('connect', connected);
        socket{{ c_switch.id }}.on('disconnect', disconnected);
        socket{{ c_switch.id }}.on('message', messaged);
    };
    start{{ c_switch.id }}();
});
</script>

{% endfor %}
{% endblock %}


{% block content %}
<div class="row-fluid">
<form class="well form-inline span12" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    <div class="control-group">
        <div class="controls">
            <label class="control-label" for="{{ form.switch.auto_id }}">{{ form.switch.label }} :</label>
                {{ form.switch }}
                <span class="help-block">{{ form.switch.help_text|safe }} </span>
        </div>
    </div>
</form>
</div>

{% for c_switch in list_switch %}
<h3><div class="graph_header">{% trans "Switch" %} : {{ c_switch.name }}</div></h3>
<div class="row">
    <div class="span6 offset2">
        <center>
            <canvas id="chart{{ c_switch.key_uuid }}" width="600" height="180"></canvas>
        </center>
    </div>
    <div class="span2 offset1">
      <div class="well">
        <center>
        <h1># {% trans "Calls" %}</h1>
        <hr/>
        <h1 id="numbercall-{{ c_switch.key_uuid }}">0</h1>
        </center>
      </div>
    </div>
</div>
<hr/>
{% endfor %}

{% endblock %}