{% extends "frontend/master.html" %}
{% load i18n cdr_extras %}

{% block extra_header %}
<script type="text/javascript">
$(function() {
    $("#id_from_date").datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
{% endblock %}


{% block content %}


<form class="well form-search" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span4">
                <label class="control-label" for="id_{{ form.from_date.name }}">{{ form.from_date.label }}</label>
                {{ form.from_date }}
            </div>
            <div class="span4">
                <label class="control-label" for="id_{{ form.switch.name }}">{{ form.switch.label }}</label>
                {{ form.switch }}
            </div>
            <div class="span4">
                <input type="submit" class="btn btn-primary" name="search" value={% trans "Search" %} />
            </div>
        </div>
    </div>
</div>
</form>

<script id="source">
$(function () {

    var data = [
        {% regroup final_data|dictsort:"switch_id" by switch_id as switch_list %}
        {% for rc in switch_list %}
            {% ifnotequal rc.grouper 0 %}
                 {
                     label: '{{ rc.grouper|get_switch_ip }}',
                     data: [
                     {% for item in rc.list %}
                         [ {{ item.millisec }}, {{ item.call__count }}],
                     {% endfor %}
                     ]
                 },
            {% endifnotequal %}
        {% endfor %}
    ];

    function formTicks(val) {

        var dt = new Date(parseInt(val));
        var hour = dt.getHours();
        var minute = dt.getMinutes();
        var ampm = hour >= 12 ? 'pm' : 'am';
        var hour = hour % 12;
        hour = hour ? hour : 12;
        minute = minute < 10 ? '0' + minute : minute;

        strTime = hour + ':' + minute + ' ' + ampm;
        return strTime
    }

    var options = {
        legend: {
                position: "ne",
                margin: [-10, 0],
                backgroundOpacity: 0
            },
        xaxis: {
            mode: "time",
            tickLength: 5,
            tickFormatter: function(val) { return formTicks(val) }
        },
        series: {
                lines: { show: true, steps: true, fill: true }
        },
        grid: {
                hoverable: true,
                xaxis: false
            }

    };

    var plot = $.plot($("#graph_responsive"), data, options);

    $("#graph_responsive").bind("plothover", function (event, pos, item) {

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = parseInt(item.datapoint[1].toFixed(2));

                //var date = item.series.label;
                var myDate = new Date(parseInt(x));

                var year = myDate.getFullYear();
                var month = myDate.getMonth() + 1;
                var day = myDate.getDate();
            
                var hours = myDate.getHours();
                var minutes = myDate.getMinutes();

                if (month < 10){  month = "0" + month; }
                if (day < 10){  day = "0" + day; }
                if (hours < 10){  hours = "0" + hours; }
                if (minutes < 10){  minutes = "0" + minutes; }

                var dt = 'xxxx-xx-xx xx:xx';

                var hm = hours + ":" + minutes + " ";
                if(hours > 11){ hm = hm+" PM"; }
                else { hm = hm+" AM" }
                dt = year+'-'+month+'-'+day+' '+hm;

                output = '<div class="graph_tooltip_header">'+dt+'</div><div class="graph_tooltip_info">' + y + ' {% trans "concurrent calls"|title %} </div>';

                showTooltip(item.pageX, item.pageY, output);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });
        
});
</script>

<div class="row">
    <div class="span12">
        <div class="graph_header">
            {% trans "Concurrent Calls" %} -
            <b>
            {% if start_date  %}
                {{ start_date|date:"jS N Y" }}
            {% endif %}
            </b>
        </div>
        <div id="graph_responsive"></div>
    </div>
</div>


{% endblock %}