{% extends "frontend/master.html" %}
{% load i18n cdr_extras common_tags %}

{% block header %}
{% endblock %}

{% block title %}{% trans "CDR Mail Report" %}{% endblock %}

{% block content %}
    {% if msg %}
        <div class="alert alert-success">
            <strong>{% trans "Alert" %} : </strong>  {{ msg }}
        </div>
    {% endif %}

    <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span6" style="width:510px;">
                    <div class="control-group">
                        <label class="control-label" for="id_{{ form.multiple_email.name }}">{{ form.multiple_email.label }} :</label>
                    </div>
                </div>
                <div class="span6">
                    <div class="controls">
                        {{ form.multiple_email }}
                        {% if form.multiple_email.errors %}
                            <span class="help-inline">{{ form.multiple_email.errors }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label></label>
    <div class="actions">
        <input type="submit" class="btn btn-primary" name="save" value={% trans "Save" %} />
    </div>
    </form>

    <p>&nbsp;</p>

    <h2>{% trans "Preview of the mail report" %} :</h2>
    <hr/>

    {% include 'frontend/mail_report_template.html' %}

{% endblock %}