{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="graph_header">
    {% trans "diagnose"|title %} CDR-Stats
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span6">
                <h4>{% trans "CDR BACKEND" %}</h4>
                {% for i, values in settings.CDR_BACKEND.items %}
                <table class="table table-striped table-bordered table-condensed">
                    {% for j, value in values.items %}
                        <tr>
                        {% if forloop.first %}
                            <td rowspan="8">{{ i }}</td>
                        {% endif %}
                        <td>{{ j }}</td>
                        <td>
                            {% if j == 'password' %}
                                XXXXXX
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                        <td>
                            {% if value == 'cdr' %}
                                {{ collection_data.cdr }}
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endfor %}
            </div>
            <div class="span6">
                <h4>{% trans "MONGO_CDRSTATS" %}</h4>
                <table class="table table-striped table-bordered table-condensed">
                {% for i, values in settings.MONGO_CDRSTATS.items %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ values }}</td>
                        <td>
                            {% if i == 'CDR_COMMON' %}
                                {{ collection_data.CDR_COMMON }}
                            {% elif i == 'DAILY_ANALYTIC'  %}
                                {{ collection_data.DAILY_ANALYTIC }}
                            {% elif i == 'MONTHLY_ANALYTIC'  %}
                                {{ collection_data.MONTHLY_ANALYTIC }}
                            {% elif i == 'CONC_CALL'  %}
                                {{ collection_data.CONC_CALL }}
                            {% elif i == 'CONC_CALL_AGG'  %}
                                {{ collection_data.CONC_CALL_AGG }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}