{% extends "frontend/master.html" %}
{% load i18n %}


{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">

	<img src="{{STATIC_URL}}cdr-stats/images/cdr-stats_600.png" alt="CDR-Stats" width="400px"/>
	<br/><br/>
	<a href="http://www.cdr-stats.org/" target="_blank" >CDR-Stats</a> {% trans "is an application that allows you to browse and analyse CDR (Call Detail Records)." %}<br/><br/>
	{% trans "Different reporting tools are provided :" %}
	<ul>
	    <li>{% trans "Search CDR: Search, filter, display and export CDR." %}</li>
	    <li>{% trans "Monthly Report: Summarise and compare call traffic history month on month." %}</li>
	    <li>{% trans "Analyse CDR : Analyse and compare call volumes with the previous day’s traffic." %}</li>
	    <li>{% trans "Daily Traffic : Graph and filter traffic loads by hour during the day." %}</li>
	</ul>
	<p><a class="btn primary large" href="http://www.cdr-stats.org/about-us/contact/">{% trans "Learn more" %} &raquo;</a></p>
</div>

<div class="row">
  <div class="span6">
    <h2>{% trans "Support" %}</h2>
    <p>{% trans "Star2Billing S.L. offers consultancy including installation, training and customisation on CDR-Stats." %}</p>
    <p>{% trans "Contact us at" %} <a href="mailto:cdr-stats@star2billing.com">cdr-stats@star2billing.com</a> {% trans "for more information" %}<p>
    <p><a class="btn" href="http://www.cdr-stats.org/support/">{% trans "Get Support" %} &raquo;</a></p>
  </div>

  <div class="span6">
    <h2>{% trans "Licensing" %}</h2>
     <p>{% trans "CDR-Stats is licensed under" %} <a href="http://www.mozilla.org/MPL/2.0/" target="_blank">MPL V2</a>,
        {% trans "however an alternative license can be purchased if the MPL V2 license is not suitable for your requirements." %}</p>
    <p><a class="btn" href="http://www.cdr-stats.org/support/licensing/">{% trans "View Licensing details" %} &raquo;</a></p>
  </div>
</div>

{% endblock %}
