{% extends "frontend/master.html" %}
{% load i18n %}

{% block content %}

<div class="hero-unit">

	<img src="{{STATIC_URL}}cdr-stats/images/cdr-stats_600.png" alt="CDR-Stats" width="400px"/>
	<br/><br/>
	<a href="http://www.cdr-stats.org/" target="_blank" >CDR-Stats</a> {% trans "is a multi-tenant application to browse, analyse and graph CDR (Call Detail Records) with automated threat alerts for multiple switches and PBX systems." %}<br/><br/>
	{% trans "Call traffic analysis and threat alert tools include :" %}
	<ul>
	    <li>{% trans "Dashboard: Overview of call activity" %}</li>
	    <li>{% trans "Search CDR: Search, filter, display and export CDR" %}</li>
	    <li>{% trans "Overview: Analyse call traffic by hour, day and month" %}</li>
	    <li>{% trans "Daily Comparison: Compare call traffic day on day" %}</li>
        <li>{% trans "Real-Time Statistics: Show concurrent calls in realtime by switch" %}</li>
        <li>{% trans "Concurrent Calls: Concurrent Calls through the day updated in real-time" %}</li>
        <li>{% trans "Country Report: Call statistics by country" %}</li>
        <li>{% trans "World Map: Call statistics overlaid on a world map" %}</li>
        <li>{% trans "Mail daily aggregated reports" %}</li>
        <li>{% trans "Threat Control: Detect abnormal call patterns" %}</li>
        <li>{% trans "Destination Alerts: Unexpected destination alerts" %}</li>
	</ul>
	<p><a class="btn primary large" href="http://www.cdr-stats.org/">{% trans "Learn more" %} &raquo;</a></p>
</div>

<div class="row">
  <div class="span6">
    <h2>{% trans "Support" %}</h2>
    <p>{% trans "Star2Billing S.L. offers consultancy including installation, training and customisation on CDR-Stats." %}</p>
    <p>{% trans "Contact us at" %} <a href="mailto:cdr-stats@star2billing.com">cdr-stats@star2billing.com</a> {% trans "for more information" %}<p>
    <p><a class="btn" href="http://www.cdr-stats.org/support/">{% trans "Get Support" %} &raquo;</a></p>
  </div>

  <div class="span6">
    <h2>{% trans "Licensing" %}</h2>
     <p>{% trans "CDR-Stats is licensed under" %} <a href="http://www.mozilla.org/MPL/2.0/" target="_blank">MPL V2</a>,
        {% trans "however an alternative license can be purchased if the MPL V2 license is not suitable for your requirements." %}</p>
    <p><a class="btn" href="http://www.cdr-stats.org/support/licensing/">{% trans "View Licensing details" %} &raquo;</a></p>
  </div>
</div>

{% endblock %}
