{% load i18n cdr_extras %}
{% load country_dialcode_tags common_tags %}
{% load cache %}

<center><h3>{% trans "CDR-Stats report of " %} {{ yesterday_date|date:"jS F Y" }}</h3></center>

<p><div class="dashboard_summary_header">{% trans "Last 10 Calls"%}</div></p>

<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Clid" %}</th>
        <th>{% trans "Destination" %}</th>
        <th>{% trans "Duration" %}</th>
        <th>{% trans "Bill sec" %}</th>
        <th>{% trans "Hangup cause" %}</th>
        <th>{% trans "Account" %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    {% if rows %}
    {% for row in rows %}
    <tr>
        <td>{{ row.start_uepoch }}</td>
        <td>{{ row.caller_id_number }} - {{ row.caller_id_name }}</td>
        <td>{{ row.destination_number }}</td>
        <td>{{ row.duration|conv_min }}</td>
        <td>{{ row.billsec|conv_min }}</td>
        <td>{{ row.hangup_cause_id|hangupcause_name }}</td>
        <td>{{ row.accountcode }}</td>
        <td>
            <div class="flag_icon">
                {% if row.country_id %}
                    {% cache 1800 country_data row.country_id %}
                        <img src="{{STATIC_URL}}cdr-stats/{{ row.country_id|iso_flag }}" class="elemtooltip" title="{{ row.country_id|country_name|title }}">
                    {% endcache %}
                {% else %}
                    <img src="{{STATIC_URL}}cdr-stats/icons/world.png" class="elemtooltip" title="{% trans "World" %}">
                {% endif %}
                <img src="{{STATIC_URL}}cdr-stats/icons/flag_green.png" class="elemtooltip" title="{% trans "Authorized call" %}"/>

                {% ifequal row.direction 'inbound' %}
                    <img src="{{STATIC_URL}}cdr-stats/icons/door_in.png" title="{{ row.direction|capfirst }} {% trans "call" %}" class="elemtooltip"/>
                {% else %}
                    {% ifequal row.direction 'outbound' %}
                        <img src="{{STATIC_URL}}cdr-stats/icons/door_out.png" title="{{ row.direction|capfirst }}  {% trans "call" %}" class="elemtooltip"/>
                    {% else %}
                        <img src="{{STATIC_URL}}cdr-stats/icons/door.png" title="{{ row.direction|capfirst }}  {% trans "call" %}" class="elemtooltip"/>
                    {% endifequal %}
                {% endifequal %}
            <div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
    {% else %}
      <tr><td colspan="8">{% trans "No record found" %}</td></tr>
    {% endif %}
</table>

<p>&nbsp;</p>

<div class="row">
    <div class="span6">
        <div class="show-grid overlay">
            <div class="dashboard_summary_header span6">{% trans "Total Calls"%}</div>
            <div class="span6">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-dashboard">{{ total_calls }}</td>
                        <td>{% trans "Number of Calls"%}</td>
                    </tr>
                    <tr>
                        <td class="td-dashboard">{{ ACT }}</td>
                        <td>{% trans "Average Calls Per Hour"%}</td>
                    </tr>
                    <tr>
                        <td class="td-dashboard">{{ total_duration }}</td>
                        <td>{% trans "Total Duration"%}</td>
                    </tr>
                    <tr>
                        <td class="td-dashboard">{{ ACD }}</td>
                        <td>{% trans "Average Call Duration"%}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="show-grid overlay">
            <div class="show-grid overlay">
                <div class="dashboard_summary_header span6">{% trans "5 most called countries"|title %}</div>
                {% if country_analytic_array %}
                    <div class="span6">
                        <table>
                            <tbody>
                            {% for country_data in country_analytic_array %}
                            <tr>
                                <td class="td-dashboard">
                                    {% if country_data.0 %}
                                        {% cache 1800 country_data country_data.0 %}
                                            <img src="{{STATIC_URL}}cdr-stats/{{ country_data.0|iso_flag }}" class="elemtooltip" title="{{ country_data.0|country_name|title }}">
                                        {% endcache %}
                                    {% else %}
                                        <img src="{{STATIC_URL}}cdr-stats/icons/world.png" class="elemtooltip" title="{% trans "World" %}">
                                    {% endif %}
                                </td>
                                <td class="td-dashboard" width="100">{{ country_data.0|country_name|title }}</td>
                                <td width="100">{{ country_data.1.call_count }} {% trans "Calls"%}</td>
                                <td>{{ country_data.1.duration_sum|conv_min }} {% trans "minutes"%}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="span5">{% trans "No record found" %}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>

<div class="row">
    <div class="span6">
        <div class="show-grid overlay">
            <div class="show-grid overlay">
                <div class="dashboard_summary_header span6">{% trans "Calls Status"%}</div>
                {% if hangup_analytic_array %}
                    <div class="span6">
                        <table>
                            <tbody>
                            {% for hangup in hangup_analytic_array %}
                                <tr>
                                    <td class="td-dashboard" width="30">{{ hangup.1 }}</td>
                                    <td width="100">{{ hangup.0|title }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="span6">{% trans "No record found" %}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>