{% extends "frontend/master.html" %}
{% load i18n cdr_extras country_dialcode_tags common_tags %}
{% load cache %}

{% block extra_head %}
    <script type="text/javascript">
        $(function() {
            var dates = $('#id_from_date, #id_to_date').datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                dateFormat: 'yy-mm-dd',
                onSelect: function(selectedDate) {
                    var option = this.id == "id_from_date" ? "minDate" : "maxDate";
                    var instance = $(this).data("datepicker");
                    var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
        });
    </script>
    <!--css-->
    <link type="text/css" media="screen" href="{{STATIC_URL}}cdr-stats/js/jquery.vector-map/jquery.vector-map.css" rel="stylesheet">
    <!-- Javascript -->
    <script type="text/javascript" src="{{STATIC_URL}}cdr-stats/js/jquery.vector-map/jquery.vector-map.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}cdr-stats/js/jquery.vector-map/world-en.js"></script>
    <script type="text/javascript">
        $(function(){
            // sample country call data
            var call_data = [
                {% for rc in world_analytic_array %}
                    {
                        label: '{{ rc.1 }}',
                        data: [{{ rc.2 }}, {{ rc.3 }}]
                    },
                {% endfor %}
            ];
            values = {};

            {% for rc in world_analytic_array %}
                values['{{ rc.1 }}'] = '{{ rc.2 }}';
            {% endfor %}

            function conve_min(val)
            {
                if(val != 0)
                {
                    var minutes = Math.floor(val / 60); // 7
                    var seconds = val % 60; // 30
                    return String(minutes +':'+seconds+' minutes')
                }
                else
                {return String('00:00 minutes');}

            }

            $('#call-world-map').vectorMap({
                backgroundColor: '#DDECEF',
                map: 'world_en',
                values: values,
                scaleColors: ['#C7AFBD', '#484452'],
                hoverOpacity: 0.7,
                hoverColor: false,
                onLabelShow: function(event, label, code){
                    for (var k in call_data) {
                        if (!call_data.hasOwnProperty(k)) continue;
                        if(call_data[k].label == code)
                        {
                            var temp_string = label.text();
                            temp_string = temp_string + " : " + String(call_data[k].data[0])+ " Calls - " + conve_min(parseInt(call_data[k].data[1]));
                            label.text(temp_string);
                            break;
                        }
                    }
                }
            });
        });
    </script>

{% endblock %}

{% block content %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li {% if action == "tabs-1" %}class="active"{% endif %}><a href="#tabs-1" data-toggle="tab">{% trans "country calls detail"|title %}</a></li>
        <li {% if action == "tabs-2" %}class="active"{% endif %}><a href="#tabs-2" data-toggle="tab">{% trans "country list"|title %}</a></li>
    </ul>

    <div id="form_collapse" class="collapse">
        <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span4">
                            <label class="control-label" for="id_{{ form.from_date.name }}">{{ form.from_date.label }}</label>
                            <div class="input">
                                {{ form.from_date }}
                                <span class="help-block">{{ form.from_date.help_text|safe }} </span>
                            </div>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="id_{{ form.to_date.name }}">{{ form.to_date.label }}</label>
                            <div class="input">
                                {{ form.to_date }}
                                <span class="help-block">{{ form.to_date.help_text|safe }} </span>
                            </div>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="id_{{ form.switch.name }}">{{ form.switch.label }}</label>
                            <div class="input">
                                {{ form.switch }}
                                <span class="help-block">{{ form.switch.help_text|safe }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <label></label>
            <div class="actions">
                <input type="submit" class="btn-primary" name="search" value={% trans "Search" %} />
            </div>
        </form>
    </div>

    <a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
        <i class="icon-search"></i> <span>{% trans "advanced search"|title %}</span>
    </a>

    <div class="tab-content">
        <div id="tabs-1" class="tab-pane {% if action == "tabs-1" or action == "" %}active{% endif %}">
            <div class="row">
                <div class="span12">
                    <div class="graph_header">
                        <span id="id_title_span">{% trans "World map Report"|title %}</span> -
                        <b>
                            {% if start_date  %}
                                {{ start_date|date:"jS N Y" }}
                            {% endif %}
                            {% if end_date  %}
                                {% trans "to" %} {{ end_date|date:"jS N Y" }}
                            {% endif %}
                        </b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div id="call-world-map" style="margin:auto; width: 1150px; height: 500px"></div>
                </div>
            </div>
        </div>

        <div id="tabs-2" class="tab-pane {% if action == "tabs-2" %}active{% endif %}">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>{% trans "Country"  %}</th>
                    <th>{% trans "Calls"  %}</th>
                    <th>{% trans "Duration"  %}</th>
                </tr>
                </thead>
                <tbody>
                {% for country_data in world_analytic_array %}
                    <tr>
                        <td>
                            {% if country_data.0 %}
                                {% cache 1800 hcountry_flag country_data.0 %}
                                    <img src="{{STATIC_URL}}cdr-stats/{{ country_data.0|iso_flag }}" class="elemtooltip" title="{{ country_data.0|country_name }}">
                                    {{ country_data.4 }}
                                {% endcache %}
                            {% else %}
                                <img src="{{STATIC_URL}}cdr-stats/icons/world.png" class="elemtooltip">
                                {% trans "world"|title  %}
                            {% endif %}
                        </td>
                        <td>{{ country_data.2 }} {% trans "Calls"%}</td>
                        <td>{{ country_data.3|conv_min }} {% trans "minutes"%}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}