{% load markup %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>
			CDR-Stats API Documentation
		</title>
		<style type="text/css">
			body {
				background: #fffff0;
				font: 1em "Helvetica Neue", Verdana;
				padding: 0 0 0 25px;
			}
		</style>
	</head>
	<body>
		<h1>{% trans "CDR-Stats Dialer : API Documentation" %}</h1>
        <hr/>
		{% for doc in docs %}

			<h2>{{ doc.name|cut:"Handler" }} :</h2>
            
			<!--<p>
				{{ doc.get_doc|default:""|restructuredtext }}
			</p>

			<p>
				URL: <b>{{ doc.get_resource_uri_template }}</b>
			</p>-->

			<p>
				{% trans "Accepted methods" %}: {% for meth in doc.allowed_methods %}<b>{{ meth }}</b>{% if not forloop.last %}, {% endif %}{% endfor %}
			</p>
            
			<dl>
				{% for method in doc.get_all_methods %}
				    {% if method.doc %}
					<dt>
						<h3><b>method <i>{{ method.name }}</i>({{ method.signature }}) </b> {% if method.stale %} <i>- inherited</i>{% else %}:{% endif %}</h3>
					</dt>

                    <dd>
                        {{ method.doc|default:""|restructuredtext }}
                        <br/>
                    <dd>
					{% endif %}                    
				{% endfor %}                
                <dd>
			</dl>

			<hr/>

		{% endfor %}
	</body>
</html>
