{% extends "frontend/master.html" %}
{% load i18n pagination_tags cdr_alert_tags common_tags icons nvd3_tags %}

{% block title %}{% trans "alert"|capfirst %}{% endblock %}

{% block extra_head %}
    {% include "frontend/custom_jquery_select_all.html" %}
    <style type="text/css">
        .tab-content {
            overflow: inherit;
        }
    </style>
    {% include_nvd3jscss %}
    <script>
        $(function () {
            $('a[data-toggle="tab"]').on('shown', function (e) {
                if (e.target.hash == '#tabs-2') {
                    {% load_chart charttype chartdata "alert_report_container" True "%d %b %y" False %}
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
<div class="tabbable">
<ul class="nav nav-tabs">
    <li {% if action == "tabs-1" %}class="active"{% endif %}><a href="#tabs-1" data-toggle="tab">{% trans "alert records"|title %}</a></li>
    <li {% if action == "tabs-2" %}class="active"{% endif %}><a href="#tabs-2" data-toggle="tab">{% trans "report by day"|title %}</a></li>
</ul>

<div id="form_collapse" class="collapse">
    <form class="well" method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <label class="control-label" for="{{ form.alarm.auto_id }}">{{ form.alarm.label|title }}</label>
                        <div class="input">
                            {{ form.alarm }}
                            <span class="help-block">{{ form.alarm.help_text|capfirst|safe }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label>&nbsp;</label>
        <div class="actions">
            <input class="btn btn-primary" type=submit name=submit value={% trans "search"|capfirst %} />
        </div>
    </form>
</div>
<div>
<a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
    <i class="icon-search"></i> <span>{% trans "advanced search"|title %}</span>
</a>
</div>
<div class="tab-content">
    <div id="tabs-1" class="tab-pane {% if action == "tabs-1" or action == "" %}active{% endif %}">
        <div class="graph_header">
            <h3>{% trans "alert report"|title %} <small>{% trans "list of alerts"|capfirst %}</small></h3>-
        </div>
        <form method="POST" action="del/0/" enctype="multipart/form-data" id="ListForm">{% csrf_token %}
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>{% sort_link ALARM_REPORT_COLUMN_NAME.id|capfirst col_name_with_order.id  %}</th>
                <th>{% sort_link ALARM_REPORT_COLUMN_NAME.alarm|capfirst col_name_with_order.alarm  %}</th>
                <th>{% sort_link ALARM_REPORT_COLUMN_NAME.calculatedvalue|capfirst col_name_with_order.calculatedvalue  %}</th>
                <th>{% sort_link ALARM_REPORT_COLUMN_NAME.status|capfirst col_name_with_order.status  %}</th>
                <th>{% sort_link ALARM_REPORT_COLUMN_NAME.date|capfirst col_name_with_order.daterun  %}</th>
            </tr>
            </thead>
            {% if rows %}

            {% autopaginate rows PAGE_SIZE %}
            {% for row in rows %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.alarm.name }}</td>
                <td>{{ row.calculatedvalue }}</td>
                <td>{{ row.status|alarm_report_status }}</td>
                <td>{{ row.daterun }}</td>
            </tr>
            {% endfor %}

            {% else %}
            <tr>
                <td colspan="5" align="center">
                    {% trans "no records found"|title %}
                </td>
            </tr>
            {% endif %}
        </table>
        <div align="right" class="show-rows">
            {% trans "total alarms"|title %} : {{ total_count }}
        </div>

        {% if rows %}
            {% paginate %}
        {% endif %}
        </form>

    </div>
    <div id="tabs-2" class="tab-pane {% if action == "tabs-2" or action == "" %}active{% endif %}">

        <div class="graph_header">
            {% trans "daily report"|title  %} -
            <b>
                {% if start_date  %}
                    {{ start_date|date:"jS N Y" }}
                {% endif %}
                {% if end_date  %}
                    {% trans "to" %} {{ end_date|date:"jS N Y" }}
                {% endif %}
            </b>
        </div>

        {% include_container "alert_report_container" 400 '100%' %}

    </div>
</div>
{% endblock %}
