/* CSS Document */

.jumbotron li {
    font-size: 15px;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
}

.fg-button {
   outline: 0;
   margin:0 4px 0 0;
   padding: .8em 1.5em;
   text-decoration:none !important;
   cursor:pointer;
   position: relative;
   text-align: center;
   zoom: 1;
}

.search-form{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.graph_header{
    height: 50px;
    text-align: center;
    font-size: 40px;
}


.errorlist{
    color: red;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*reduce font size on listing*/
td {
    font-size: 90%;
}

/* display icon on listing */
.icon {
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    background-repeat:
    no-repeat;
}

td.survey_result_key {
    width: 70px;
    font-weight: bold;
}

td.survey_edit_key {
    width: 100px;
}

.width_200 {
    width: 200px;
}


td.camp_type {
    width: 200px;
}

/* customize the survey edition, this is for the sortable question header */
.portlet-header{
    color: #404040;
    font-weight: bold;
    background-color: whiteSmoke;
    margin: 0.5em;
	padding: 10px 10px 10px 10px;
    padding-bottom: 10px;
	font-size: 20px;
}

/*graph_header*/
.graph_header{
    height: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
}

body .modal-section {
    width: 610px;
}

footer {
    margin-top: 50px;
}

.cornerlogo img {
    margin-top: -10px;
    margin-bottom: -10px;
    height: 40px;
}

/* Purple style */
/* Blue style */
.navbar-inverse {
    background-color: #0E59AA;
    border-color: #003157;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #0E59AA;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FCC330;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}

.jumbotron {
    background-color: #ECF6FF;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #6093BF;
    border-color: #0E59AA;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #6093BF;
    border-color: #6093BF;
}

.btn-primary {
    color: #ffffff;
    background-color: #0E59AA;
    border-color: #0E59AA;
}

.nav .caret {
    border-top-color: #003157;
    border-bottom-color: #003157;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #6093BF;
    border-color: #0E59AA;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #003157;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #003157;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #6093BF;
    border-color: #003157;
}

a {
    color: #0E59AA;
}

a:hover, a:focus {
    color: #003157;
    text-decoration: underline;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
}

/* End Blue style */

/*#563d7c -> 6E5396
463265 ; 6E5396 ; 8D73B3 ; CDBFE3 ; F8F4FF
003157 ; 0E59AA ; 6093BF ; FCC330 ; ECF6FF
*/


/* Add square around icons */
.icon-square {
    padding: 1px 2px 1px 1px;
    color: white;
    background-color: #428bca;
}

.icon-small {
    font-size:10px;
    color: #428bca;
}
/* END - Add circle around icons */

/* jquery UI survey section CSS */
/* style for question box for jquery UI sort*/
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 10px; padding-left: 0.2em; }
.portlet-header .btn-small { float: right; padding: 5px 3px 1px 4px; margin: 0 0 0.5em 0.2em; }
.portlet-header button {font-size: 15px;}
.portlet-header input {font-size: 15px; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
 /* change span width for response inputs */
.span5 {width: 160px;}
.right-side-icon{
    float: right;
}

/*Typeahead CSS*/
.tt-dropdown-menu {
    text-align: left;
}

.typeahead, .tt-query, .tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}