

.gradient-style
{
	font-size: 12px;
	margin: 15px;
	width: 700px;
	text-align: left;
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.gradient-style caption {
    color: #3079a9;
}

.gradient-style th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('/static/cdr-stats/images/table-images/gradhead_cyan.png') repeat-x;
	border-bottom: 1px solid #fff;
	color: #3079a9;
}

.gradient-style td
{
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('/static/cdr-stats/images/table-images/gradback_cyan.png') repeat-x;
}

.gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 14px;
	color: #555;
	font-weight: solid;
	background: #d0dafd url('/static/cdr-stats/images/table-images/gradhover_cyan.png') repeat-x;
}

.gradient-style tbody tr:hover td
{
	background: #d0dafd url('/static/cdr-stats/images/table-images/gradhover_cyan.png') repeat-x;
	color: #3079a9;
}
