
/*position and hide the menu initially - leave room for menu items to expand...*/
#page {padding-top:80px; padding-bottom:20px; width:100%;}
#menu {position:absolute; top:0; left:0; width:100%; display:none;}

#menu img {padding:10px; }

/*dock styling...*/
/*...centre the dock, and give the wrapper a background and partial border...*/
#menu div.jqDockWrap {margin:0 auto; border:0px solid #cccccc; border-top:0 none;}

/*...set the cursor...*/
#menu div.jqDock {cursor:pointer;}
