{% extends "frontend/master.html" %}
{% load i18n cdr_alert_tags %}

{% block title %}{% trans "alert test"|title %}{% endblock %}

{% block header_files %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

    {% block content %}
        <div class="modal-header">
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>{% trans "alarm test"|title %}</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>{% trans "alarm type"|capfirst %}</th>
                <td>{{ alarm_obj.type|alarm_type }}</td>
            </tr>
            <tr>
                <th>{% trans "alarm condition addon"|capfirst %}</th>
                <td>{{ alarm_obj.alert_condition_add_on|alarm_condition_add_on }}</td>
            </tr>

            {% if alarm_obj.alert_condition == ALERT_CONDITION.IS_LESS_THAN or alarm_obj.alert_condition == ALERT_CONDITION.IS_GREATER_THAN  %}
            <tr>
                <th>{% trans "alarm condition"|capfirst %}</th>
                <td>{{ alarm_obj.alert_value }} {{ alarm_obj.alert_condition|alarm_condition }} {{ alarm_data.previous_value }}</td>
            </tr>
            <tr>
                <th>{% trans "alarm will trigger"|capfirst %}</th>
                <td>
                    {% if alarm_obj.alert_condition == ALERT_CONDITION.IS_LESS_THAN %}
                        {% if alarm_data.alert_value < alarm_obj.previous_value %}
                            {% trans "True" %}
                        {% else %}
                            {% trans "False" %}
                        {% endif %}
                    {% endif %}

                    {% if alarm_obj.alert_condition == ALERT_CONDITION.IS_GREATER_THAN %}
                        {% if alarm_data.alert_value > alarm_obj.previous_value %}
                            {% trans "True" %}
                        {% else %}
                            {% trans "False" %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}

            {% if alarm_obj.alert_condition == ALERT_CONDITION.DECREASE_BY_MORE_THAN or alarm_obj.alert_condition == ALERT_CONDITION.INCREASE_BY_MORE_THAN  %}
            <tr>
                <th>{% trans "alarm condition"|capfirst %}</th>
                <td>{{ alarm_data.diff }} {{ alarm_obj.alert_condition|alarm_condition }} {{ alarm_obj.alert_value }}</td>
            </tr>
            <tr>
                <th>{% trans "alarm will trigger"|capfirst %}</th>
                <td>
                    {% if alarm_obj.alert_condition == ALERT_CONDITION.DECREASE_BY_MORE_THAN %}
                        {% if alarm_data.diff < alarm_obj.alert_value %}
                            {% trans "True" %}
                        {% else %}
                            {% trans "False" %}
                        {% endif %}
                    {% endif %}

                    {% if alarm_obj.alert_condition == ALERT_CONDITION.INCREASE_BY_MORE_THAN %}
                        {% if alarm_data.diff > alarm_obj.alert_value %}
                            {% trans "True" %}
                        {% else %}
                            {% trans "False" %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}

            {% if alarm_obj.alert_condition == ALERT_CONDITION.PERCENTAGE_DECREASE_BY_MORE_THAN or alarm_obj.alert_condition == ALERT_CONDITION.PERCENTAGE_INCREASE_BY_MORE_THAN  %}
            <tr>
                <th>{% trans "alarm condition"|capfirst %}</th>
                <td>{{ alarm_data.percentage }} {{ alarm_obj.alert_condition|alarm_condition }} {{ alarm_obj.alert_value }}</td>
            </tr>
            <tr>
                <th>{% trans "alarm will trigger"|capfirst %}</th>
                <td>
                    {% if alarm_obj.alert_condition == ALERT_CONDITION.PERCENTAGE_DECREASE_BY_MORE_THAN %}
                        {% if alarm_data.percentage < alarm_obj.alert_value %}
                            {% trans "True" %}
                        {% else %}
                            {% trans "False" %}
                        {% endif %}
                    {% endif %}

                    {% if alarm_obj.alert_condition == ALERT_CONDITION.PERCENTAGE_INCREASE_BY_MORE_THAN %}
                        {% if alarm_data.percentage > alarm_obj.alert_value %}
                            {% trans "True" %}
                        {% else %}
                            {% trans "False" %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}


            </table>
        </div>
        <div class="modal-footer">
            <a href="#" class="close btn" data-dismiss="modal">{% trans "close"|title %}</a>
        </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}