{% extends "frontend/master.html" %}
{% load i18n cdr_alert_tags %}

{% block title %}{% trans "alert test"|title %}{% endblock %}

{% block header_files %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

    {% block content %}
        <div class="modal-header">
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>{% trans "alarm test"|title %}</h3>
        </div>
        <div class="modal-body">
            {% if alarm_status %}
                <div class="alert alert-success">
                    {% trans "alarm tested successfully" %}
                </div>
            {% else %}
                <div class="alert alert-error">
                    {% trans "alarm test failed" %}
                </div>
            {% endif %}


            <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>{{ ALARM_REPORT_COLUMN_NAME.calculatedvalue|capfirst }}</th>
                <th>{{ ALARM_REPORT_COLUMN_NAME.status|capfirst }}</th>
                <th>{{ ALARM_REPORT_COLUMN_NAME.date|capfirst }}</th>
            </tr>
            </thead>
            <tbody>
            {% if alarm_report %}
                {% for row in alarm_report %}
                <tr>
                    <td>{{ row.calculatedvalue }}</td>
                    <td>{{ row.status|alarm_report_status }}</td>
                    <td>{{ row.daterun }}</td>
                </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="3" align="center">
                        {% trans "no records found"|title %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#" class="close btn" data-dismiss="modal">{% trans "close"|title %}</a>
        </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}