{% extends "frontend/master.html" %}
{% load i18n %}

{% block title %}{% trans "password reset"|capfirst %}{% endblock %}

{% block content %}

<div class="login" align="center">

<h2>{% trans "forgotten your password?"|capfirst %}</h2>

<div class="alert alert-info">{% trans "enter your e-mail address below, and we'll e-mail instructions for setting a new one."|capfirst %}</div>

<form class="well form-inline" action="" method="post">{% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
          <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span><br/>
        {% endif %}
        {{ field.label|title }}&nbsp;{{ field }}
    {% endfor %}
    <input type="submit" class="btn btn-danger" value="{% trans 'reset my password'|capfirst %}" />
</form>

</div>

{% endblock %}
