{% extends "frontend/master.html" %}
{% load i18n %}

{% block title %}{% trans 'password reset'|capfirst %}{% endblock %}

{% block content %}

<div class="login" align="center">

{% if validlink %}
<p><h2><center>{% trans 'enter new password'|capfirst %}</center></h2></p>

<div class="alert alert-info">{% trans "please enter your new password twice for verification."|capfirst %}</div>

<form class="well" action="" method="post">{% csrf_token %}

    {% for field in form %}
        <label for="{{ field.auto_id }}">{{ field.label|title }}</label>
            {{ field }}<br/>
            {% if field.errors %}
              <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
            {% endif %}
            <span class="help-block">{{ field.help_text|capfirst }} </span>
    {% endfor %}
    <div class="actions">
        <input class="btn btn-info" type="submit" value="{% trans 'change my password'|capfirst %}" />
    </div>

</form>

{% else %}

<div class="alert alert-error">
    {% trans 'password reset unsuccessful'|capfirst %}
</div>
<br/>

<div class="alert alert-error">
    {% trans "the password reset link was invalid, possibly because it has already been used. please request a new password reset."|capfirst %}
</div>

{% endif %}

</div>
{% endblock %}
