{% extends "frontend/master.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

<div class="login" align="center">

{% if validlink %}
<p><h2><center>{% trans 'Enter new password' %}</center></h2></p>

<div class="alert alert-info">{% trans "Please enter your new password twice for verification." %}</div>

<form class="well" action="" method="post">{% csrf_token %}

    {% for field in form %}
        <label>{{ field.label }}</label>
            {{ field }}<br/>
            {% if field.errors %}
              <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
            {% endif %}
            <span class="help-block">{{ field.help_text }} </span>               
    {% endfor %}
    <div class="actions">
        <input class="btn-primary" type="submit" value="{% trans 'Change my password' %}" />
    </div>

</form>

{% else %}

<div class="alert alert-error">
    {% trans 'Password reset unsuccessful' %}
</div>
<br/>

<div class="alert alert-error">
    {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
</div>

{% endif %}

</div>
{% endblock %}
