{% load i18n %}

{% if msg_pass %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg_pass }}
    </div>
{% endif %}
{% if error_pass %}
    <div class="alert alert-error">
        <strong>{% trans "Alert" %} : </strong>  {{ error_pass }}
    </div>
{% endif %}


<form class="well" action="" method="post">{% csrf_token %}
    {% for field in user_password_form %}
        <div class="row{% if field.errors %} control-group error{% endif %}">
            <div class="span2">
                <label class="control-label" for="id_{{ field.name }}">
                    {{ field.label }}
                </label>
            </div>
            <div class="span4">{{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                {% endif %}
                <span class="help-block">{{ field.help_text }} </span>
            </div>
        </div>
    {% endfor %}

    <div class="actions">
        <input type="hidden" name="action" value="tabs-2" />
        <input type="hidden" name="form-type" value="change-password" />
        <input type="submit" class="btn-primary" value="{% trans 'Change password' %}" />
    </div>
</form>
