{% extends "frontend/master.html" %}
{% load i18n %}

{% block extra_header %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "settings"|capfirst %} <small>{% trans "user detail, Password and notifications"|capfirst %}</small></h1>
{% endblock %}

{% block content %}

<div class="tabbable">
<ul class="nav nav-tabs">
    <li {% if action == "tabs-1" %}class="active"{% endif %}><a href="#tabs-1" data-toggle="tab">{% trans "account"|capfirst %}</a></li>
    <li {% if action == "tabs-2" %}class="active"{% endif %}><a href="#tabs-2" data-toggle="tab">{% trans "password"|capfirst %}</a></li>
    <li {% if action == "tabs-3" %}class="active"{% endif %}><a href="#tabs-3" data-toggle="tab">{% trans "change language"|capfirst %}</a></li>
</ul>

<div class="tab-content">
    
	<div id="tabs-1" class="tab-pane {% if action == "tabs-1" or action == "" %}active{% endif %}">
        {% include "frontend/registration/user_account.html" %}
    </div>

    <div id="tabs-2" class="tab-pane {% if action == "tabs-2" %}active{% endif %}">
        {% include "frontend/registration/user_change_password.html" %}
    </div>

    <div id="tabs-3" align="left" class="tab-pane {% if action == "tabs-3" %}active{% endif %}">

    <div class="row-fluid">

        <div class="span12">
            <form class="well" action="/i18n/setlang/" method="post">
                {% csrf_token %}
                {% trans "select language"|capfirst %} : <select name="language" id="language-container" class="input-small" onchange="this.form.submit();">
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% ifequal lang.0 LANGUAGE_CODE %}selected{% endifequal %}>{{ lang.1 }}</option>
                {% endfor %}
                </select>
            </form>
        </div>
        
    </div>
</div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".tabs").tabs();
    });

  $(function () {
    $('.tabs a:last').tab('show');
  })
</script>

{% endblock %}