{% extends "admin/change_list.html" %}
{% load i18n admin_modify adminmedia common_tags %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "home"|capfirst %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="/admin/{{ opts.app_label }}/{{ model_name }}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {{ opts.verbose_name }}
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">

<form method="post" action="" enctype="multipart/form-data" >
{% csrf_token %}
<table border=0>
    {{ form.as_table }}
    <tr>
        <td align=right colspan=2>
            <input type="submit" class="button" name="submit" value="{% trans "select country"|capfirst %}" />&nbsp;
        </td>
    </tr>
</table>
<p>&nbsp;</p>
{% if prefix_list %}
<div class="action">
    <input class="action-select" name="select_all" type="checkbox" onclick="toggleChecked(this.checked)" value="true">&nbsp;<b>{% trans "select all prefixes"|capfirst %}</b>
</div>

<table>
    {% for item in prefix_list|groupby_columns:10 %}
        <tr class="{% cycle 'row1' 'row2' %}">
            {% for obj in item %}
                {% if obj %}
                    <td>
                        <input type="checkbox" name="select" class="checkbox" value="{{ obj.prefix }}">
                        {{ obj.prefix }}
                    </td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<p>&nbsp;</p>
<div class="submit-row">
    <input type="submit" class="button" name="submit" value="{% trans "whitelist the selected prefixes"|capfirst %}" />&nbsp;
    <input type="submit" class="button" name="whitelist_country" value="{% trans "whitelist the selected country"|capfirst %}">
</div>
{% endif %}

</form>

</div>
{% endblock %}