{% load i18n crispy_forms_tags %}

{% if msg_pass %}
    <div class="alert alert-success">
        <strong>{% trans "alert"|capfirst %} : </strong>  {{ msg_pass|capfirst }}
    </div>
{% endif %}
{% if error_pass %}
    <div class="alert alert-error">
        <strong>{% trans "alert"|capfirst %} : </strong>  {{ error_pass|capfirst }}
    </div>
{% endif %}

<form class="well" role="form" action="." method="post">
    {% crispy user_password_form user_password_form.helper %}
    <div class="row">
        <div class="col-md-12 text-right">
            <input type="hidden" name="action" value="tabs-2" />
            <input type="hidden" name="form-type" value="change-password" />
            <input type="submit" class="btn btn-primary" value="{% trans 'change password'|title %}" />
        </div>
    </div>
</form>
