<html>

<head>
  <title>
     {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="/site_media/style.css" type="text/css" />
</head>

<body>

<h1>{% block head %}{% endblock %}</h1>
<div id="nav">
  {% if card_id  %}
   <a href="/">home {{ test }}</a> | <a href="/profile/">Profile</a> | <a href="/cdr/">Call Record</a> | (<a href="/logout">logout</a>)
 {% else %}
    <a href="/">login</a>
 {% endif %}
</div>
<div id="cont">
{% block content %}{% endblock %}
</div>
</body>
</html>

