{% extends "cdr/master.html" %}
{% load i18n cdr_extras common_tags %}

{% block content %}
{% for element in row %}

    <p>{% trans "FreeSWITCH CDR" %} :<pre>{{ element }}</pre></p>

    <p>{% trans "channel_data" %} : <pre>{{ element.channel_data|to_json }}</pre></p>

    <p>{% trans "callflow" %} : <pre>{{ element.callflow|to_json }}</pre></p>

    <p>{% trans "app_log" %} : <pre>{{ element.app_log|to_json }}</pre></p>

    <p>{% trans "variables" %} : <pre>{{ element.variables|to_json }}</pre></p>

{% endfor %}
{% endblock %}