{% extends "cdr/master.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block extra_head %}
  <script>
  $(document).ready(function() {
    $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
  });
  </script>
{% endblock %}


{% block content %}

<br/><br/>


<div id="accordeon-container">
<div id="accordion">
	<h3><a href="#">{% trans "Info"  %}</a></h3>
	<div>
		<p>
		<br/>
		<a href="http://www.cdr-stats.org/" target="_blank" >CDR-Stats</a> {% trans "is an open source application that allows you to browse and analyze your CDRs (Call Details Record)." %}<br>
		{% trans "Different reporting tools are provided :" %}
		<ul>
		    <li>{% trans "Monthly Report : summarize your monthly traffic and allow you to have a monthly vision of your traffic load." %}</li>
		    <li>{% trans "Analyze CDR : This report allows you to compare your traffic with previous day and study the volum variation on your server" %}</li>
		    <li>{% trans "Daily Traffic : give you a day by day vision and let you see how many calls are running each hours" %}</li>
		</ul>
		<br/>

        <a href="http://www.cdr-stats.org/" target="_blank" ><img src='{{MEDIA_URL}}/icons/help-about-2.png' title="Info" alt="Info" width="110" class="info-icon"/></a>
        
        <br/><br/>

		</p>
	</div>
	<h3><a href="#">{% trans "Download" %}</a></h3>
	<div>
		<p>
        {% trans "Please visit" %} <a target="_blank" href="http://www.cdr-stats.org/">http://www.cdr-stats.org/</a> <br/>
        {% trans "and download the last stable release." %}
        <br/><br/><br/>
        
        <a href="http://www.cdr-stats.org/" target="_blank" ><img src='{{MEDIA_URL}}/icons/system-log-out-4.png' title="Download" alt="Download" width="110" class="info-icon"/></a>
        
        <br/><br/>

        
		</p>
	</div>
	<h3><a href="#">{% trans "Support" %}</a></h3>
	<div>
		<p>
        {% trans "Star2Billing S.L. offers consultancy including installation, training and customisation on all of its products, and CDR-Stats is no exception." %}
        <br/><br/>
        {% trans "Purchasing consultancy is a good way to help support the development of CDR-Stats, and from the customer's point of view can speed the time
        of deployment, leaving them free to concentrate on more profitable and productive tasks." %}
        <br/><br/>
        {% trans "Contact us at" %}<a href="mailto:sales@star2billing.com">sales@star2billing.com</a> {% trans "for more information" %}<br/><br/>
		
		<a href="mailto:sales@star2billing.com"><img src='{{MEDIA_URL}}/icons/system-help-3.png' title="Support" alt="Support" width="110" class="info-icon"/></a>
		
		
	</div>
	<h3><a href="#">{% trans "News" %}</a></h3>
	<div>
		<p>
		
        {% if news %}

        {% for rc in news %}
        {{rc.0}}  <a href="{{rc.1}}">{{rc.1}}</a> {{rc.2}}<br/>
        <hr>
        {% endfor %}

        {% endif %}

        <br/><br/>
        
        <img src='{{MEDIA_URL}}/icons/knewsticker-2.png' title='News' alt="News" width="110" class="info-icon"/>
        
		</p>
	</div>
	
	<h3><a href="#">Licensing</a></h3>
	<div>
		<p>
		
        CDR-Stats is licensed under <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html" target="_blank">AGPL 3</a>.<br/>
		<br><a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html" target="_blank"><img src="{{MEDIA_URL}}/icons/agplv3-155x51.png" class="info-icon"></a>

        <br/><br/>
	</div>
	
	<h3><a href="#">{% trans "Contact Us" %}</a></h3>
	<div>
		<p>
		{% trans "Star2Billing S.L. was formed to provide commercial support, installation and training to telecommunications companies that wished to deploy A2Billing." %}
        <br/><br/>
        {% trans "A2Billing is both a Telecoms Switch and a Billing Platform for those wishing to deploy telecoms services such as VoIP, calling cards and callback,
        as well as a variety of other products. Please see" %} <a href="http://www.star2billing.com">http://www.star2billing.com</a>{% trans "for more details." %}

        <br/><br/>
        {% trans "CDR-Stats is the latest piece of software development from the Star2Billing stable, and is a complete ground up re-write of the famous Asterisk-Stat,
        which has been around for over 7 years as a CDR viewer and analyser for Asterisk, and has been included in FreePBX to view and analyse CDR." %}
        <br/><br/>

        <a href="mailto:sales@star2billing.com"><img src='{{MEDIA_URL}}/icons/kontact-4.png' title="Contact" alt="Contact" width="110" class="info-icon"/></a>
        
		</p>

        <br/><br/>
	</div>
</div>
</div>





{% endblock %}
