{% extends "cdr/master.html" %}

{% block extra_head %}
{% endblock %}
{% block content %}


<br/>
This is the open source application  that allows you to browse and analyze your CDRs (Call Details Record): <br>
<a target="_blank" href="http://github.com/areski/cdr-stats">http://github.com/areski/cdr-stats</a>


<br/><br/>


<h2>Download :</h2>
<hr/>

- Go to <a target="_blank" href="http://github.com/areski/cdr-stats">http://github.com/areski/cdr-stats</a> and download the last stable release.
<br/><br/>

<h2>Support :</h2>
<hr/>
Support is available by the hour or by the day. We can also do customization.<br/><br/>
Please email <a href="mailto:sales@star2billing.com">sales@star2billing.com</a> for more information
<br/><br/>


<h2>Contact :</h2>
<hr/>
Author : Arezqui Belaid <br/>
<a href="mailto:areski@gmail.com"><img src='{{MEDIA_URL}}/icons/kontact-4.png' title='Contact' alt='' /> </a>


<br/><br/><br/><br/>
{% endblock %}
