
<script type="text/javascript">
      $(function(){
        
        $('#buttonlogin').click(function(){
          $("#requestlogin").animate({ height: 'show', opacity: 'show' }, 'slow');
        });
        $('#buttonlogout').click(function(){
          $('#logout').submit();
        });
      });
</script>
    
    
{% block login %}
   <div id="requestlogin" style="margin: 10px; padding: 10px;  width: 400px; height: 30px; margin-left: auto; display: none;" class="ui-widget ui-widget-content ui-corner-all">
     <form action="/login/" method="post">
         {% csrf_token %}
         {% for field in loginform %}
            <div class="fieldWrapper" style="float : left; margin: 5px;">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
        {% endfor %}
         <input type="submit" value="login" class="ui-state-default ui-corner-all" style="margin: 5px;">
     </form>
   </div>


{% endblock login %}


