
<script type="text/javascript">
      $(function(){
        
        $('#buttonlogin').click(function(){
          $("#requestlogin").animate({ height: 'show', opacity: 'show' }, 'slow');
          $("#buttonlogin").animate({ height: 'hide', opacity: 'hide' }, 'fast');
        });
        $('#buttonlogout').click(function(){
          $('#logout').submit();
        });
      });
</script>
    
    
{% block login %}
   <div id="requestlogin" style="margin: 10px; padding: 10px;  width: 130px; height: 80px; float : left; display: none; " class="ui-widget ui-widget-content ui-corner-all">
     <form action="/login/" method="post">
         {% csrf_token %}
         {% for field in loginform %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
        {% endfor %}
         <input type="submit" value="login" class="ui-state-default">
     </form>
   </div>
   	
{% endblock login %}


