<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>{% block title %}CDR Stats{% endblock %}</title>
    
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/blueprint/print.css" type="text/css" media="print">    
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/style.css" type="text/css" media="screen, projection">    

    <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}/css/ui.jqgrid.css">

    <!--[if lt IE 8]><link rel="stylesheet" href="resources/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link type="text/css" href="{{MEDIA_URL}}/css/cupertino/jquery-ui-1.8.1.custom.css" rel="stylesheet">  
    <link type="text/css" media="screen" href="src/css/ui.multiselect.css" rel="stylesheet"/> 
    
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-ui-1.8.1.custom.min.js"></script>

    <script src="{{MEDIA_URL}}/js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}/js/jquery.jqGrid.min.js" type="text/javascript"></script>
	
	<script src="{{MEDIA_URL}}/_js/jquery.layout.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/_js/i18n/grid.locale-en.js" type="text/javascript"></script> 
	<script type="text/javascript"> 
		$.jgrid.no_legacy_api = true;
		$.jgrid.useJSON = true;
	</script> 
	<script src="{{MEDIA_URL}}/src/ui.multiselect.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/js/jquery.jqGrid.min.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/js/jquery.tablednd.js" type="text/javascript"></script> 

	<script src="{{MEDIA_URL}}/_js/jquery.contextMenu.js" type="text/javascript"></script>
	<link href="{{MEDIA_URL}}/_js/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
    
    </head><body>

{% block extra_head %}
{{ extra_head }}
{% endblock %}

<script type="text/javascript">
$(function(){
    // Tabs
    $('.tabs').tabs();

    $("#accordion").accordion({ header: "h3" });

    $(".sortable").tablesorter();
    $(".tabcontainer").tabs({debug: true});
    $('#nav').droppy();
});
</script>




<div class="container mainbox">

    <div class="span-24" valign="middle">
            <h1 align="center">CDR Stats</h1>
        <ul id="nav">
            <li><a href="/show_cdr/">Show CDR Reports</a></li>
            <li><a href="/monthly_report/">Monthly Report</a></li>
            <li><a href="/call_traffic/">Analyze call traffice</a></li>
        </ul>
    </div>

    <div class="span-24">
    {% block content %}
    {{ content }}
    {% endblock %}
    </div>

</div>

</body></html>
