<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>{% block title %}CDR Stats{% endblock %}</title>
    
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/blueprint/print.css" type="text/css" media="print">    
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/style.css" type="text/css" media="screen, projection">    

    <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}/css/ui.jqgrid.css">
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}/css/ui.jqdock.css">

    <!--[if lt IE 8]><link rel="stylesheet" href="resources/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link type="text/css" href="{{MEDIA_URL}}/css/cupertino/jquery-ui-1.8.1.custom.css" rel="stylesheet">  
    <link type="text/css" media="screen" href="src/css/ui.multiselect.css" rel="stylesheet"/> 
    
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.jqDock.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-ui-1.8.1.custom.min.js"></script>

    <script src="{{MEDIA_URL}}/js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}/js/jquery.jqGrid.min.js" type="text/javascript"></script>
	
	<script src="{{MEDIA_URL}}/_js/jquery.layout.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/_js/i18n/grid.locale-en.js" type="text/javascript"></script> 
	<script type="text/javascript"> 
		$.jgrid.no_legacy_api = true;
		$.jgrid.useJSON = true;
	</script> 
	<script src="{{MEDIA_URL}}/src/ui.multiselect.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/js/jquery.jqGrid.min.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/js/jquery.tablednd.js" type="text/javascript"></script> 

	<script src="{{MEDIA_URL}}/_js/jquery.contextMenu.js" type="text/javascript"></script>
	<link href="{{MEDIA_URL}}/_js/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
	
	{% block extra_header %}
    {{ extra_header }}
    {% endblock %}
    
</head>
<body>

<div id='page'> 
	<div id='menu'> 
		<a href="../show_jqgrid/"><img src='{{MEDIA_URL}}/icons/edit-find-6.png' title='Search CDRs' alt='' /></a>
		<a href="../show_jqgrid/"><img src='{{MEDIA_URL}}/icons/office-chart-line.png' title='Analyze CDRs' alt='' /> </a>
		<a href="../show_graph_by_hour/"><img src='{{MEDIA_URL}}/icons/office-chart-bar-stacked.png' title='Daily Traffic' alt='' /></a>
		<a href="../show_graph_examples/"><img src='{{MEDIA_URL}}/icons/office-chart-pie.png' title='Monthly Traffic' alt='' /></a>
		<a href="../index/"><img src='{{MEDIA_URL}}/icons/help-about-2.png' title='Info' alt='' /> </a>
	</div> 	
</div>



{% block extra_head %}
{{ extra_head }}
{% endblock %}

<script type="text/javascript">
$(function(){
    // Tabs
    $('.tabs').tabs();
    $("#accordion").accordion({ header: "h3" });
    $(".tabcontainer").tabs({debug: true});
});
</script>



<script type="text/javascript">
jQuery(document).ready(function($){
  // set up the options to be used for jqDock...
var dockOptions =
    { align: 'top' // horizontal menu, with expansion DOWN from a fixed TOP edge
    , labels: true  // add labels (defaults to 'bc')
    };
  // ...and apply...
  $('#menu').jqDock(dockOptions);
});

jQuery(document).ready(function($){
	// set a click handler on all items (children) within #menu...
	$('#menu1').children().click(function(event){
			alert("You clicked '"+(this.title||$(this).parent().find('.jqDockLabel').text()||'')+"' <"+this.tagName.toUpperCase()+">");
			this.blur();
			return false;
		});
});
</script>


<div class="container mainbox">

    <h1 align="center">CDR Stats</h1>
    
    <div class="span-24">
    {% block content %}
    {{ content }}
    {% endblock %}
    </div>

</div>

</body></html>
