<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>{% block title %}CDR Stats{% endblock %}</title>

    <!-- bluetrip css -->
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/blueprint/print.css" type="text/css" media="print" />
    <!--[if IE]>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/blueprint/plugins/buttons/screen.css" type="text/css" media="screen, projection" />
    
    <!-- jqgrid css -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}/css/ui.jqgrid.css">
    <!-- jquery UI css -->
    <link type="text/css" href="{{MEDIA_URL}}/css/cupertino/jquery-ui-1.8.1.custom.css" rel="stylesheet">  
    <link type="text/css" media="screen" href="{{MEDIA_URL}}/src/css/ui.multiselect.css" rel="stylesheet"/> 
    
    <!-- Custom css -->
    <link type="text/css" media="screen" href="{{MEDIA_URL}}/css/cdr_stats.css" rel="stylesheet"/> 
    <link type="text/css" media="screen" href="{{MEDIA_URL}}/css/gradient-table.css" rel="stylesheet"/> 
    
    <!-- Javascript -->
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-ui-1.8.1.custom.min.js"></script>

    <script src="{{MEDIA_URL}}/js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}/js/jquery.jqGrid.min.js" type="text/javascript"></script>
    	
	<script src="{{MEDIA_URL}}/js/jquery.layout.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/js/i18n/grid.locale-en.js" type="text/javascript"></script> 
	<script type="text/javascript"> 
		$.jgrid.no_legacy_api = true;
		$.jgrid.useJSON = true;
	</script> 
	<script src="{{MEDIA_URL}}/src/ui.multiselect.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/js/jquery.jqGrid.min.js" type="text/javascript"></script> 
	<script src="{{MEDIA_URL}}/js/jquery.tablednd.js" type="text/javascript"></script> 
    
    {% include "cdr/uni-form_header.html" %}
    
    {% include "cdr/uni-form_header_custom.html" %}
    
	{% block extra_header %}
    {{ extra_header }}
    {% endblock %}
    
    <script>
      $(document).ready(function() {
        $(".fg-button").hover(
	        function(){ 
		        $(this).addClass("ui-state-hover"); 
	        },
	        function(){ 
		        $(this).removeClass("ui-state-hover"); 
	        }
        );
        $('#buttonlogin').click(function(){
          $("#requestlogin").animate({ height: 'show', opacity: 'show' }, 'slow');
        });
        $('#buttonlogout').click(function(){
          $('#logout').submit();
        });
      });
    </script>
   
</head>

<body>

{% block extra_head %}
    {{ extra_head }}
{% endblock %}

<div class="container">
    
	<div class="span-20">
		<a href="http://www.cdr-stats.org/" target="_blank"><img class="logo_cdrstat" src="{{MEDIA_URL}}/logo/cdr-stat-small.png" border="0" height="70"/></a>
	</div>
	
	<div class="span-4 last">
	    <form action="/i18n/setlang/" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <select name="language">
            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Go" />
        </form>
	</div>
	
	<div class="span-24 last">
		<hr>
	</div>
	
	<div class="span-16 prepend-4">
		<div id="main-menu-container">
            <a href="../show_cdr/" class="fg-button ui-state-default ui-corner-all">Search CDRs</a>
            <a href="../show_stats_by_hour/" class="fg-button ui-state-default ui-corner-all">Analyze CDRs</a>
            <a href="../show_stats_by_day/" class="fg-button ui-state-default ui-corner-all">Daily Traffic</a>
            <a href="../show_stats_by_month/" class="fg-button ui-state-default ui-corner-all">Monthly Traffic</a>
            <a href="../" class="fg-button ui-state-default ui-priority-secondary ui-corner-all">Info</a>
        </div>
	</div>
	
	<div class="span-4 last">
	    {% include "cdr/login_option.html" %}
    </div>
	
	<div class="span-24 last">
		{% include "cdr/login.html" %}
	</div>
	
	<div class="span-14 prepend-4 append-6 last">
	    {% if errorlogin %}
            <div class="error">
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
                <strong>Alert : </strong> <!--Error login--> {{ errorlogin }}
            </div>
        {% endif %}
		<br>
	</div>
	
	
	<div class="span-24 last">
		{% block content %}
            {{ content }}
        {% endblock %}
	</div>
	
	<div class="span-24 last">
	    <div id="footer">
            Asterisk-Stat 3.0 (Swallowtail), CDR-Stats is software licensed under the 
		    <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html" target="_blank">AGPL 3</a>. <br/>
            Copyright (C) 2010 - Star2billing S.L. <a href="http://www.star2billing.com/" target="_blank">http://www.star2billing.com/</a>
        </div>
	</div>
	
</div>


</body>
</html>

