{% extends "cdr/master.html" %}

{% block extra_head %}

<script type="text/javascript">
$(function () {
    $.getJSON("{% url grid_config %}", function(data){
        $("#mygrid")
            .jqGrid(data)
            .navGrid('#pager', 
                {add: false, edit: false, del: false, view: true},
        {}, // edit options
        {}, // add options
        {}, // del options 
        { multipleSearch:true, closeOnEscape:true }, // search options 
        { jqModal:true, closeOnEscape:true} // view options
        ).filterToolbar({stringResult: true,searchOnEnter : false});
    });
});

</script>

{% endblock %}

{% block content %}
<script type = "text/javascript">

function change() {
document.getElementById("id_export_csv_queryset").value = 1;
}
</script>

<form method="GET" name="search_cdr" action="." enctype="multipart/form-data">
<table width=70% border=1 cellspacing=0 cellpadding=0 align=center>
    <tr>
        <td>{{ form.selection_of_month_day }}</td>
        <td>{{ form.from_chk_month }}&nbsp;{{ form.from_month_year_1.label }}&nbsp;
            {{ form.from_month_year_1 }}
            <br/>
            {{ form.from_chk_day }}&nbsp;{{ form.from_day.label }}&nbsp;{{ form.from_day_1.label }}&nbsp;
            {{ form.from_day }}&nbsp;{{ form.from_month_year_2 }}
        </td>
        <td>&nbsp;</td>
        <td>{{ form.to_chk_month }}&nbsp;{{ form.to_month_year_1.label }}&nbsp;
            &nbsp;{{ form.to_month_year_1 }}
            <br/>
            {{ form.to_chk_day }}
            {{ form.to_day.label }}&nbsp;&nbsp;{{ form.to_day }}&nbsp;{{ form.to_month_year_2 }}
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>{{form.result.label}}&nbsp;{{form.result|removetags:"ul li"|safe}}</td>
        <td>&nbsp;</td>
    </tr>
    <tr><td align=center colspan=4><input type="submit" value="Search" />&nbsp;<input type="reset" value="Clear"></td></tr>
</table>
<table width=30% border=1 cellspacing=0 cellpadding=0 align=center>
<tr>{{form.export_csv_queryset}}
    <td align=center><a href="." onclick="change();document.search_cdr.submit();">Export CSV file</a></td>
</tr>
</table>
</form>



<p>&nbsp;</p>
<div id="cdr-container" class='tabcontainer'>


    <div id='general-info'>
                
        <table id="mygrid"></table>
		<div id="pager"></div>


    </div>

</div>


{% endblock %}
