{% extends "cdr/master.html" %}
{% load cdr_extras %}
{% block extra_header %}
    <link href="{{MEDIA_URL}}/css/Visualize/basic.css" type="text/css" rel="stylesheet" />
    <link href="{{MEDIA_URL}}/css/Visualize/visualize.css" type="text/css" rel="stylesheet" />
    <link href="{{MEDIA_URL}}/css/Visualize/visualize-light.css" type="text/css" rel="stylesheet" />
    
	<script type="text/javascript" src="{{MEDIA_URL}}/js/Visualize/excanvas.js"></script>		
	<script type="text/javascript" src="{{MEDIA_URL}}/js/Visualize/visualize.jQuery.js"></script>		
	
    
{% endblock %}

{% block content %}

<form method="GET" action="." enctype="multipart/form-data">
<div align=center style="text-align:left;border: solid #000;margin:0% 30% 5% 25%;">
       <p>{{ form.from_month_year.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.from_month_year }}&nbsp;&nbsp;{{ form.comp_months.label }}&nbsp;{{ form.comp_months }}
       </p>
       <p>{{ form.destination.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.destination }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.destination_type|removetags:"ul li"|safe }}
       </p>
       <p>{{ form.source.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.source }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.source_type|removetags:"ul li"|safe }}
       </p>
       <p>{{ form.channel.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.channel }}
       </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Search" />&nbsp;<input type="reset" value="Clear">
</div>

</form>
{% for month in total_month_list %}
{{month.1}}
{% endfor %}


<table width=100%>
{% if calls_min %}
  <caption>Traffic Last {{comp_months}} Months</caption>
	<thead>
		<tr>
			<td></td>
			<th scope="col">Duration</th>
		</tr>
	</thead>

    <tbody>
    {% for call in total_record %}
        {% if call.0 %}
        <tr class="tr_class">
               <th scope="row">
                   {{ call.0|month_name:call.1 }} {{ call.2|time_in_min:"min"}}
               </th>
               <td>{{ call.2 }}</td>
           </tr>

        {% endif %}
    {% endfor %}
    </tbody>
    
{% else %}
    <tr><td align=center>No Record(s) found.</td></tr>
{% endif %}
</table>




<table width=100%>
	<caption>2009 Employee Sales by Department</caption>
	<thead>
		<tr>
			<td></td>
			<th scope="col">Duration</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Mary</th>
			<td>190</td>
		</tr>
		<tr>
			<th scope="row">Tom</th>
			<td>3</td>
		</tr>
		<tr>
			<th scope="row">Brad</th>
			<td>10</td>
		</tr>
		<tr>
			<th scope="row">Kate</th>
			<td>40</td>
		</tr>		
	</tbody>
</table>


<script type="text/javascript">
    $(function(){
        $('table').visualize({type: 'pie', height: '300px', width: '420px'});
      //  $('table').visualize({type: 'bar', width: '420px'});
        //$('table').visualize({type: 'area', width: '420px'});
       // $('table').visualize({type: 'line', width: '420px'});
    });
</script>

{% endblock %}
