{% extends "cdr/master.html" %}
{% load i18n %}

{% load cdr_extras %}
{% load uni_form_tags %}

{% block extra_header %}
    {% include "cdr/visualize_header.html" %}
{% endblock %}

{% block content %}

<div class="search-form">
{% with form.helper as helper %}
    {% uni_form form helper %}  
{% endwith %}
</div>

<br><br>

<div id="graph-container">
<table id="table_concurrent_call" width=100% border=1>

  {% if total_record %}
    <caption>{% ifequal graph_view 1 %}
                {% trans "Number of concurrent calls by Hours"  %}
             {% else %}
                {% trans "Concurrent Calls by hours"  %}
             {% endifequal %}
   </caption>
    
	<thead>
		<tr>
        <td></td>
        {% for hour in total_hour%}
        <th scope="col">{{hour}}</th>
        {% endfor %}
		</tr>
	</thead>
    <tbody>
    {% for dt in record_dates%}
    <tr class="tr_class">
		    <th scope="col">{{ dt }}</th>

                    {% for call in total_record %}

                        {% ifequal call.0 dt %}

                                {% if graph_view %}
                                <td>{{call.2}}</td>
                                 {% else %}
                                 <td>{{call.2|conv_min}}</td>
                                 {% endif %}

                        {% endifequal %}

                    {% endfor %}
    </tr>
    {% endfor %}

    {% else %}
      <tr><td align=center>{% trans "No Record(s) found."  %}</td></tr>
    {% endif %}
    </tbody>
    
</table>
</div>


<script type="text/javascript">
    $(function(){
       // $('table').visualize({type: 'pie', height: '300px', width: '420px'});
       //$('table').visualize({type: 'bar', width: '420px'});
       // $('table').visualize({type: 'area', width: '420px'});
        $('table').visualize({type: 'line', width: '700px'});
    });
</script>

{% endblock %}


