{% extends "cdr/master.html" %}
{% load cdr_extras %}
{% load uni_form_tags %}

{% block extra_header %}
    {% include "cdr/visualize_header.html" %}
{% endblock %}

{% block content %}
<div class="search-form">
{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

</div>

<br/><br/>

{% for month in total_month_list %}
{{month.1}}
{% endfor %}


<div id="graph-container">
<table id="table_call_month" width=100%>
{% if calls_min %}
  <caption>Traffic Last {{comp_months}} Months</caption>
	<thead>
		<tr>
			<td></td>
			<th scope="col">Duration</th>
		</tr>
	</thead>

    <tbody>
    {% for call in total_record %}
        {% if call.0 %}
        <tr class="tr_class">
               <th scope="row">
                   {{ call.0|month_name:call.1 }} {{ call.2|time_in_min:"min"}}
               </th>
               <td>{{ call.2 }}</td>
           </tr>

        {% endif %}
    {% endfor %}
    </tbody>
    
{% else %}
    <tr><td align=center>No Record(s) found.</td></tr>
{% endif %}
</table>
</div>



<script type="text/javascript">
    $(function(){
        $('table').visualize({type: 'pie', height: '300px', width: '620px'});
    });
</script>

{% endblock %}
