{% extends "cdr/master.html" %}
{% load i18n %}

{% load cdr_extras %}
{% load uni_form_tags %}

{% block extra_header %}
    {% include "cdr/visualize_header.html" %}
{% endblock %}

{% block content %}

<div class="search-form">
{% with form.helper as helper %}
    {% uni_form form helper %}  
{% endwith %}
</div>

<br><br>

<script id="source" language="javascript" type="text/javascript">
$(function () {

    var data = {{total_record|safe}}

    var options = {
                    legend: {
                                position: "se",
                                margin: [-510,50],
                                labelFormatter: function(label){
                                    return '<div class="graph_legend">'+label+'</div>';
                                },
                            },
                    series: {
                                lines: { show: true },
                                points: { show: true }
                            },
                    yaxis: {
                                tickSize: {{tickSize|safe}},
                                min: 0,
                                tickDecimals: false
                            },
                    xaxis: {
                                tickSize: 1,
                                tickDecimals: false
                            },
                    grid: {
                                hoverable: true,
                                xaxis: false
                          },
                   tooltip: {
                                formatter: function(obj){
                                    return '<div class="graph_tooltip_header">' + obj.label + '</div><div class="graph_tooltip_info">{{graph_by}}: ' + obj.x + '<br>{% trans "Concurrent Calls" %}: ' + obj.y + '</div>'
                                }
                   }
                  };
    var plot = $.plot($("#placeholder"), data, options);
    
});
</script>

<center>
    <div class="graph_header">{% trans "Concurrent Calls by" %} {{graph_by}}</div>
    <div id="placeholder" style="width:700px;height:300px"></div>
</center>
    
{% endblock %}

