{% extends "cdr/master.html" %}
{% load cdr_extras %}
{% load uni_form_tags %}

{% block extra_header %}
    {% include "cdr/visualize_header.html" %}
{% endblock %}

{% block content %}

<div class="search-form">
{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

</div>

<br/><br/>


<div id="graph-container">
<table id="table_load_hour" width="100%" border="1" align="center">
  {% if total_record %}
  <caption>Load By Hour</caption>
	<thead>
		<tr>
			<td></td>
			{% for call in total_record %}
			    <th scope="col">{{ call.0 }}</th>
			{% endfor %}
		</tr>
	</thead>
	
    <tbody>
    <tr class="tr_class">
           <th scope="row">
               Call per hour
           </th>
           {% for call in total_record %}
           <td>{{ call.1 }}</td>
           {% endfor %}       
    </tr>
    
    {% else %}
      <tr><td align=center>No Record(s) found.</td></tr>
    {% endif %}
    </tbody>
    
</table>
</div>


<script type="text/javascript">
    $(function(){
       $('#table_load_hour').visualize({type: 'bar', width: '700px', align: '0'});
    });
</script>

{% endblock %}
