{% extends "cdr/master.html" %}
{% load cdr_extras %}

{% block extra_header %}
    {% include "cdr/visualize_header.html" %}
{% endblock %}

{% block content %}

<form method="GET" action="." enctype="multipart/form-data">

<div align=center style="text-align:left;border: solid #000;margin:0% 30% 5% 25%;">
       <p>{{ form.from_month_year.label }}&nbsp;&nbsp;{{ form.from_day }}&nbsp;{{ form.from_month_year }}&nbsp;&nbsp;
       </p>
       <p>{{ form.destination.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.destination }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.destination_type|removetags:"ul li"|safe }}
       </p>
       <p>{{ form.source.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.source }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.source_type|removetags:"ul li"|safe }}
       </p>
       <p>{{ form.channel.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.channel }}
       </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Search" />&nbsp;<input type="reset" value="Clear">
</div>

</form>

<div id="graph-container">
<table id="table_load_hour" width="100%" border="1" align="center">
  {% if total_record %}
  <caption>Load By Hour</caption>
	<thead>
		<tr>
			<td></td>
			{% for call in total_record %}
			    <th scope="col">{{ call.0 }}</th>
			{% endfor %}
		</tr>
	</thead>
	
    <tbody>
    <tr class="tr_class">
           <th scope="row">
               Call per hour
           </th>
           {% for call in total_record %}
           <td>{{ call.1 }}</td>
           {% endfor %}       
    </tr>
    
    {% else %}
      <tr><td align=center>No Record(s) found.</td></tr>
    {% endif %}
    </tbody>
    
</table>
</div>


<script type="text/javascript">
    $(function(){
       $('#table_load_hour').visualize({type: 'bar', width: '700px', align: '0'});
    });
</script>

{% endblock %}
