{% extends "cdr/master.html" %}
{% load i18n %}

{% load cdr_extras %}
{% load uni_form_tags %}

{% block extra_header %}
    {% include "cdr/visualize_header.html" %}
{% endblock %}
 
{% block content %}
<div class="search-form">
{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}
</div>

<br/><br/>

<script language="javascript" type="text/javascript">
$(function () {

    function MonthName(m,type){
        var short_month = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
        var month = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        if(type == 0)
            return short_month[m-1];
        else
            return month[m-1];
    }

    var data = [    {% for year in total_record %}
                        {% ifchanged year.1 %}
                            {
                                label: '{{year.1}}',
                                data: [
                                        {% for call in total_record %}
                                            {% ifequal year.1 call.1 %}
                                                [{{call.0}},{{call.2}}],
                                            {% endifequal %}
                                        {% endfor %}
                                    ],
                            },
                        {% endifchanged %}
                    {% endfor %}
                ];

    var options = {
                    legend: {
                                position: "se",
                                margin: [-510,50]
                          },
                    series: {
                                bars: { show: true },
                          },
                    yaxis: {
                                min: 0,
                                tickDecimals: false
                          },
                    xaxis: {
                                min: 1,
                                max: 13,
                                tickSize: 1,
                                tickDecimals: false,
                                tickFormatter:
                                    function (x) { 
                                        var output = '';
                                        if(x < 13){
                                            for(var i=0; i < 15; i++)
                                                output += "&nbsp;";
                                            output += MonthName(x, 0);
                                        }
                                        return output;
                                    }
                          },
                    grid: {
                                hoverable: true,
                                xaxis: false
                          },
                    tooltip: {
                                formatter: function(obj){
                                    output = '';
                                    output += '<center><b>' + MonthName(obj.x, 1) + ', ' + obj.label + '</b></center>{% trans "Calls" %}: ' + obj.y;
                                    return output;
                                },
                          }
                  };

    $.plot($("#placeholder"), data, options);
});
</script>

<center>
   <h1>{% blocktrans %}Traffic Last {{comp_months}} Months{% endblocktrans %}</h1>
    <div id="placeholder" style="width:700px;height:300px"></div>
</center>

{% endblock %}
