{% extends "cdr/master.html" %}
{% load i18n %}
{% load cdr_extras %}
{% load uni_form_tags %}

{% block extra_head %}
  <script>
  $(document).ready(function() {
    $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
  });
  </script>
{% endblock %}


{% block content %}


<br/><br/>

<script id="source" language="javascript" type="text/javascript">
$(function () {

    function Info(time,info){
        data = [
        {% for data in total_record %}
            [{{data.0}},{{data.1}},{{data.2}}],
        {% endfor %}];
        
        for(var i in data){
            if(data[i][0] == time){
                switch(info){
                    case 0:
                        return data[i][0];
                    break;
                    case 1:
                        return data[i][1];
                    break;
                    case 2:
                        return data[i][2];
                    break;
                    default:
                        return data[i][0];
                }
            }
        }
    }
    var data = [{
                    data: [
                        {% for data in total_record %}
                            [{{data.0}},{{data.1}}],
                        {% endfor %}
                    ],
                    label: '{{label}}'
    }];
    var options = {
                    legend: {
                                position: "ne",
                                margin: [-700,0],
                                labelFormatter: function(label){
                                    return '<div class="graph_legend">'+label+'</div>';
                                }
                          },
                    series: {
                                lines: { show: true },
                                points: { show: true }
                          },
                    yaxis: {
                                min: 0,
                                tickDecimals: false
                          },
                    xaxis: {
                                min: 0,
                                max: 23,
                                tickSize: 1,
                                tickDecimals: false,
                          },
                    grid: {
                                hoverable: true,
                          },
                    tooltip: {
                                formatter: function(obj){
                                    var time = obj.x;
                                    var hour = (time.toString().split("."))[0];
                                    var minute = Math.round(time * 60 - (hour * 60));
                                    var output = '';
                                    output += '<div class="graph_tooltip_header">';
                                    if(hour < 10){
                                        output += '0';
                                    }
                                    output += hour + ':';
                                    if(minute < 10){
                                        output += '0';
                                    }
                                    output += minute + '</div><div class="graph_tooltip_info">{% trans "Calls" %}: ' + Info(time,1) + '<br>{% trans "Duration" %}: ' + Info(time,2) + ' {% trans "secs" %}</div>';
                                    return output;
                                },
                          }
                  };
    var plot = $.plot($("#placeholder"), data, options);
    
});
</script>

<center>
    <div class="graph_header">{% trans "Call Statistics" %}</div>
    <div id="placeholder" style="width:700px;height:300px"></div>
</center>


<br/>

<div class="span-8 prepend-4 last">
    <div class="dashboard_summary_header">{% trans "Total Calls"%}</div>
    <div class="dashboard_summary_info">{{total_calls}}  {% trans "Total Calls"%}</div><br/>
    <div class="dashboard_summary_info">{{ACT}} {% trans "Averange call per hour"%}</div><br/>
    <div class="dashboard_summary_info">{{total_duration}} {% trans "Total Duration"%}</div><br/>
    <div class="dashboard_summary_info">{{ACD}} {% trans "Averange call duration"%}</div>
</div>


{% endblock %}


