{% extends "cdr/master.html" %}
{% load i18n %}

{% load cdr_extras %}
{% load uni_form_tags %}

{% block extra_header %}
    {% include "cdr/visualize_header.html" %}
{% endblock %}

{% block content %}

<script type="text/javascript">

var jsonData = [
{% for td in total_data %}
    {date:'{{ td.date }}', year:{{td.year}},day:{{td.day}}, month:{{td.month}},calls:{{td.calldate__count}}, duration:'{{td.duration__sum|conv_min}}', act:'{{td.duration__avg|conv_min}}'},
{% endfor %}
];

var callData = [
{% for td in total_data %}
    [{{td.count}} , {{td.calldate__count}}],
{% endfor %}
];
var durationData = [
{% for td in total_data %}
    [{{td.count}} , {{td.duration__sum}}],
{% endfor %}
];
var summaryData = [
{% for td in total_data %}
    [{{td.count}} , {{td.calldate__count}}],
{% endfor %}
];
</script>

<script type="text/javascript">
Event.observe(document, 'dom:loaded', function() {

    prettyPrint();
    
    HumbleFinance.trackFormatter = function (obj) {
        var x = Math.floor(obj.x);
        var data = jsonData[x];
        var text = data.date + " Calls: " + data.calls + " Duration: " + data.duration + " ACT: " + data.act;
        
        return text;
    };
    
    HumbleFinance.yTickFormatter = function (n) {
        
        if (n == this.axes.y.max) {
            return false;
        }
        
        return n;
    };
    
    HumbleFinance.xTickFormatter = function (n) {
        if (n == 0) {
            return false;
        }
        x = Math.floor(n)
        var data = jsonData[x].year;
        
        return data;
    };

    HumbleFinance.init('finance', callData, durationData, summaryData);
});
</script>

<div id="finance">
	<div id="labels">
	    <div id="financeTitle">Report Global</div>
	    <div id="time">
	        <a onclick="HumbleFinance.zoom(7);">1 week</a>
	        <a onclick="HumbleFinance.zoom(30);">1 month</a>
	        <a onclick="HumbleFinance.zoom(90);">3 months</a>
	        <a onclick="HumbleFinance.zoom(180);">6 months</a>
	        <a onclick="HumbleFinance.zoom(365);">1 year</a>
	    </div>

	    <div id="dateRange"></div>
	</div>
</div>


{% endblock %}
