

        <style>
            /* You don't need these, they are here to tune up the page */
            .uniForm ul {
                width: 100%;
            }
            .uniForm ul li label, .uniForm ul li {
                display: inline;
                list-style-type: none;
                padding-right: 20px;
            }
            .uniForm .inlineLabels ul li label {
                display: inline;
            }
            .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select{
                width: auto;
            }
        </style>
