

        <style>
            /* You don't need these, they are here to tune up the page */
            .uniForm ul {
                width: 50%;
            }
            .uniForm ul li label, .uniForm ul li {
                display: inline;
                list-style-type: none;
                padding-right: 20px;
            }
            .uniForm .inlineLabels ul li label, .formColumn {
                display: inline;
            }
            .uniForm select, .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select{
                width: auto;
            }
            .formColumn .ctrlHolder{
                clear: none;
                float: left;
                margin : 8px 8px 0 0;
            }
            .uniForm label {
                float : left;
                display : visible;
                margin : 4px 4px 4px 0px;
            }

        </style>
        
