

    <link href="{{STATIC_URL}}/cdr-stats/css/Visualize/basic.css" type="text/css" rel="stylesheet" />
    <link href="{{STATIC_URL}}/cdr-stats/css/Visualize/visualize.css" type="text/css" rel="stylesheet" />
    <link href="{{STATIC_URL}}/cdr-stats/css/Visualize/visualize-light.css" type="text/css" rel="stylesheet" />

	<script type="text/javascript" src="{{STATIC_URL}}/cdr-stats/js/Visualize/excanvas.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/cdr-stats/js/Visualize/visualize.jQuery.js"></script>
