{% extends "cdr/master.html" %}
{% load i18n cdr_extras country_dialcode_tags common_tags %}

{% block extra_head %}
    <script type="text/javascript">
        $(function() {
            var dates = $('#id_from_date, #id_to_date').datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                dateFormat: 'yy-mm-dd',
                onSelect: function(selectedDate) {
                    var option = this.id == "id_from_date" ? "minDate" : "maxDate";
                    var instance = $(this).data("datepicker");
                    var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
        });
    </script>
    <!--css-->
    <link type="text/css" media="screen" href="{{STATIC_URL}}cdr-stats/js/jquery.vector-map/jquery.vector-map.css" rel="stylesheet">
    <!-- Javascript -->
    <script type="text/javascript" src="{{STATIC_URL}}cdr-stats/js/jquery.vector-map/jquery.vector-map.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}cdr-stats/js/jquery.vector-map/world-en.js"></script>
    <script type="text/javascript">
        $(function(){
            // sample country call data
            var call_data = [
                {% for rc in world_analytic_array %}
                    {
                        label: '{{ rc.1 }}',
                        data: [{{ rc.2 }}, {{ rc.3 }}]
                    },
                {% endfor %}
            ];
            /*
            var call_data = [{label: 'es', data: [70]},
                             {label: 'pk', data: [50]},
                             {label: 'be', data: [30]},
                             {label: 'in', data: [20]}];
            */
            var max = 0,
                min = Number.MAX_VALUE,
                cc,
                startColor = [160, 170, 200],
                endColor = [0, 100, 145],
                colors = {},
                hex;

            for (var k in call_data) {
                if (!call_data.hasOwnProperty(k)) continue;
                if (parseFloat(call_data[k].data[0]) > max) {
                    max = parseFloat(call_data[k].data[0]);
                }
                if (call_data[k].data[0] < min) {
                    min = parseFloat(call_data[k].data[0]);
                }

            }

            for (var k in call_data) {

                if (call_data[k].data > 0) {
                    colors[call_data[k].label] = '#';
                    for (var i = 0; i<3; i++) {
                        hex = Math.round(startColor[i] + (endColor[i] - startColor[i])*(parseFloat(call_data[k].data) / (max - min))).toString(16);
                        if (hex.length == 1) {
                            hex = '0'+hex;
                        }
                        colors[call_data[k].label] += (hex.length == 1 ? '0' : '') + hex;
                    }

                }
            }

            //example 1
            $('#example-map-1').vectorMap({
                map: 'world_en',
                values: call_data,
                colors: colors,
                //scaleColors: colors,
                hoverOpacity: 0.7,
                hoverColor: false,
                onLabelShow: function(event, label, code){

                    for (var k in call_data) {
                        if (!call_data.hasOwnProperty(k)) continue;
                        if(call_data[k].label == code)
                        {
                            var temp_string = label.text();
                            temp_string = temp_string + " - " + String(call_data[k].data[0]);
                            label.text(temp_string);
                            break;
                        }

                    }
                }
            });

        });
    </script>

{% endblock %}

{% block content %}

<div id="form_collapse" class="collapse">
    <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <label class="control-label" for="id_{{ form.from_date.name }}">{{ form.from_date.label }}</label>
                        <div class="input">
                            {{ form.from_date }}
                            <span class="help-block">{{ form.from_date.help_text|safe }} </span>
                        </div>
                    </div>
                    <div class="span4">
                        <label class="control-label" for="id_{{ form.to_date.name }}">{{ form.to_date.label }}</label>
                        <div class="input">
                            {{ form.to_date }}
                            <span class="help-block">{{ form.to_date.help_text|safe }} </span>
                        </div>
                    </div>
                    <div class="span4">
                        <label class="control-label" for="id_{{ form.switch.name }}">{{ form.switch.label }}</label>
                        <div class="input">
                            {{ form.switch }}
                            <span class="help-block">{{ form.switch.help_text|safe }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label></label>
        <div class="actions">
            <input type="submit" class="btn-primary" name="search" value={% trans "Search" %} />
        </div>
    </form>
</div>

<a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
    <i class="icon-search"></i> <span>{% trans "advanced search"|title %}</span>
</a>

<div class="row">
    <div class="span12">
        <div class="graph_header">
            <span id="id_title_span">{% trans "World map Report"|title %}</span> -
            <b>
                {% if start_date  %}
                    {{ start_date|date:"jS N Y" }}
                {% endif %}
                {% if end_date  %}
                    {% trans "to" %} {{ end_date|date:"jS N Y" }}
                {% endif %}
            </b>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="example-map-1" style="width: 1200px; height: 500px"></div>
    </div>
</div>

{% endblock %}
