{% extends "cdr/master.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<div class="login" align="center">

<h2>{% trans "Forgotten your password?" %}</h2>

<div class="alert alert-info">{% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</div>

<form class="well form-inline" action="" method="post">{% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
          <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span><br/>
        {% endif %}
        {{ field.label }}&nbsp;{{ field }}
    {% endfor %}
    <input type="submit" class="btn-primary" value="{% trans 'Reset my password' %}" />
</form>

</div>
       
{% endblock %}
        