{% load i18n common_tags %}

{% if msg_detail %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg_detail }}
    </div>
{% endif %}

{% if error_detail %}
    <div class="alert alert-error">
        <strong>{% trans "Alert" %} : </strong>  {{ error_detail }}
    </div>
{% endif %}

<form class="well" action="" method="post">{% csrf_token %}
    {% for field in user_detail_form %}
        <div class="row{% if field.errors %} control-group error{% endif %}">
            <div class="span2">
                <label class="control-label" for="id_{{ field.name }}">
                    {{ field.label }}
                </label>
            </div>
            <div class="span4">{{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                {% endif %}
                <span class="help-block">{{ field.help_text }} </span>
            </div>
        </div>
    {% endfor %}

    {% for field in user_detail_extened_form %}
        <div class="row{% if field.errors %} control-group error{% endif %}">
            <div class="span2">
                <label class="control-label" for="id_{{ field.name }}">
                    {{ field.label }}
                </label>
            </div>
            <div class="span4">{{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                {% endif %}
                <span class="help-block">{{ field.help_text }} </span>
            </div>
        </div>
    {% endfor %}

    <div class="actions">
        <input type="hidden" name="action" value="tabs-1" />
        <input type="hidden" name="form-type" value="change-detail" />
        <input type="submit" class="btn btn-primary" value="{% trans 'Change detail' %}" />
    </div>
</form>