{% extends "cdr/master.html" %}
{% load i18n pagination_tags cdr_extras icons common_tags %}

{% block extra_header %}
    {% include "cdr/custom_jquery_select_all.html" %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "Settings" %} <small>{% trans "User detail, Password and notifications" %}</small></h1>
{% endblock %}

{% block content %}

<div class="tabbable">
<ul class="nav nav-tabs">
    <li {% if action == "tabs-1" %}class="active"{% endif %}><a href="#tabs-1" data-toggle="tab">{% trans "Account" %}</a></li>
    <li {% if action == "tabs-2" %}class="active"{% endif %}><a href="#tabs-2" data-toggle="tab">{% trans "Password" %}</a></li>
    <li {% if action == "tabs-3" %}class="active"{% endif %}><a href="#tabs-3" data-toggle="tab">{% trans "Notifications" %}</a></li>
    <li {% if action == "tabs-4" %}class="active"{% endif %}><a href="#tabs-4" data-toggle="tab">{% trans "Change language " %}</a></li>
</ul>

<div class="tab-content">
    
	<div id="tabs-1" class="tab-pane {% if action == "tabs-1" or action == "" %}active{% endif %}">
        {% include "cdr/registration/user_account.html" %}
    </div>

    <div id="tabs-2" class="tab-pane {% if action == "tabs-2" %}active{% endif %}">
        {% include "cdr/registration/user_change_password.html" %}
    </div>

    <div id="tabs-3" class="tab-pane {% if action == "tabs-3" %}active{% endif %}">
        {% include "cdr/registration/user_notification_grid.html" %}
	</div>

    <div id="tabs-4" align="left" class="tab-pane {% if action == "tabs-4" %}active{% endif %}">

    <div class="row-fluid">

        <div class="span12">
            <form class="well" action="/i18n/setlang/" method="post">
                {% csrf_token %}
                {% trans "Select language" %} : <select name="language" id="language-container" class="input-small" onchange="this.form.submit();">
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% ifequal lang.0 LANGUAGE_CODE %}selected{% endifequal %}>{{ lang.1 }}</option>
                {% endfor %}
                </select>
            </form>
        </div>
        
    </div>
</div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".tabs").tabs();
    });

  $(function () {
    $('.tabs a:last').tab('show');
  })
</script>

{% endblock %}