{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block extra_head %}
{% endblock %}

{% block content %}

<div class="graph_header">
    {% trans "diagnostic"|title %} CDR-Stats
</div>

<br/><br/>

<div class="row">
    <div class="col-md-12">
        <h3>
        {% trans "PostgreSQL server used to centralize CDRs and the aggregate reporting"|capfirst %}
        </h3>
        <hr/>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
            {% for key, value in conn_report.items %}
            <tr>
                <td>
                    <span class="label label-info">{{ key|upper }} </span>
                </td>
                <td>
                    {{ value }}
                </td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}