{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block extra_head %}
{% endblock %}

{% block content %}

<div class="graph_header">
    {% trans "diagnostic"|title %} CDR-Stats
</div>

<br/><br/>

<div class="row">
    <div class="col-md-12">
        {% trans "PostgreSQL server used to centralize CDRs and the aggregate reporting"|capfirst %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
            <tr>
                <td>
                    <span class="label label-info">{% trans "Engine"|title %} </span>
                </td>
                <td>
                    {{ engine }}
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}