Django==1.7.7
gunicorn==19.3.0
docutils==0.11
ordereddict==1.1
psycopg2==2.6
amqplib==1.0.2
anyjson==0.3.3
python-dateutil==2.4.2
yolk==0.4.3
feedparser==5.1.3
celery==3.1.17
redis==2.7.2
kombu==3.0.24
requests==2.4.1
tablib==0.10.0
python-memcached==1.54
influxdb==1.0.0

#pandas==0.16.0
#jsonschema==2.4.0
#SQLAlchemy==0.9.9
