docutils==0.9.1
ordereddict==1.1
psycopg2==2.4.5
amqplib==1.0.2
anyjson==0.3.1
simplejson==2.6.2
python-dateutil==2.1
yolk==0.4.1
feedparser==5.1.2
celery==3.0.11
redis==2.7.1
kombu==2.4.7
pymongo==2.2
Django==1.4.2
gunicorn==0.14.6
South==0.7.6