docutils
ordereddict
amqplib==1.0.2
anyjson==0.3.1
simplejson==2.1.3
pyparsing
python-dateutil==1.5
uuid==1.30
wsgiref==0.1.2
redis
celery==2.5.1
kombu
mimeparse
MySQL-python==1.2.3
Werkzeug
BeautifulSoup==3.2.0
Pygments
python-memcached
coverage
feedparser
Django==1.3.1
