Sphinx==1.1.3
django-extensions==0.9
Werkzeug==0.8.3
django-debug-toolbar==0.9.4
ipython==0.13
pip-tools==0.2

#Pull request waiting to be in, fix setup and template for this plugins
#django-debug-toolbar-mongo
#for now we use :
#git+git://github.com/d0ugal/django-debug-toolbar-mongo.git