django-celery==2.5.0
django-kombu
django-haystack
django-pagination==1.0.7
django-urlauth==0.1.8
django-uuidfield
django-chart-tools
django-memcache-status
django-cache-utils
django-picklefield
django-jsonfield==0.8.0
django-countries==1.1.2
hg+https://bitbucket.org/izi/django-admin-tools
git+git://github.com/jtauber/django-notification.git
git+git://github.com/mcroydon/django-qsstats.git
git+git://github.com/Star2Billing/switch2bill-common.git
git+git://github.com/Star2Billing/django-country-dialcode.git
-e hg+http://bitbucket.org/andrewgodwin/south/@ecaafda23e600e510e252734d67bf8f9f2362dc9#egg=South-dev
git+git://github.com/Star2Billing/django-admin-tools-stats.git
git+git://github.com/toastdriven/django-tastypie.git
django-redis-cache
django-redisboard
git+git://github.com/areski/django-genericadmin.git
django-admin-sortable
django-tagging==0.3.1
git+git://github.com/Star2Billing/django-audiofield.git
django-dajax==0.8.4
django-dajaxice==0.2
raven==1.4.4
sentry==3.1.4
