django-celery==3.1.16
django-kombu==0.9.4
django-pagination==1.0.7
django-urlauth==0.1.8
django-uuidfield==0.5.0
django-cache-utils==0.7.2
django-jsonfield==0.9.12
django-countries==2.1.2
linaro-django-pagination==2.0.2
django-admin-tools==0.5.1
django-dajax==0.9.2
#django-dajaxice doesn't support Django 1.6
git+git://github.com/ifanrx/django-dajaxice.git
django-dajaxice-ng==0.6.0
django-country-dialcode==0.5.1
django-admin-tools-stats==0.6.1

#0.8 is not compatible with django 1.7
#django-cache-machine==0.8
git+git://github.com/jbalogh/django-cache-machine.git

django-redis-cache==0.13.0
git+git://github.com/Star2Billing/django-notification
django-frontend-notification==0.2.0
django-genericadmin==0.6.1
django-nvd3==0.7.6

django-lets-go==2.9.3
django-extensions==1.5.1
django-bower==5.0.2
django-cors-headers==0.13
#git+git://github.com/hmarr/django-ses.git
git+git://github.com/pinax/django-mailer
django-activelink==0.4
django-bootstrap3-datetimepicker==2.2.3
djangorestframework==2.4.3
django-crispy-forms==1.4.0

django-localflavor==1.0
hg+http://bitbucket.org/schinckel/django-postgres#egg=django-postgres