django-celery==2.5.0
django-kombu
linaro_django_pagination
#django-pagination==1.0.7
#git+git://github.com/zyga/django-pagination
django-uuidfield
django-jsonfield
git+git://github.com/Star2Billing/django-notification
#git+git://github.com/jtauber/django-notification.git

#django-countries==1.1.2
git+git://github.com/Star2Billing/switch2bill-common.git
hg+https://bitbucket.org/smileychris/django-countries
git+git://github.com/Star2Billing/django-country-dialcode.git
-e hg+http://bitbucket.org/andrewgodwin/south/@ecaafda23e600e510e252734d67bf8f9f2362dc9#egg=South-dev
hg+https://bitbucket.org/izi/django-admin-tools
git+git://github.com/Star2Billing/django-admin-tools-stats.git
git+git://github.com/toastdriven/django-tastypie.git
#raven==1.4.4
#sentry==3.1.4
django_socketio
