Django>=1.4
MySQL-python==1.2.3
amqplib==1.0.2
anyjson==0.3.1
simplejson==2.1.3
distribute==0.6.14
docutils==0.7
python-dateutil==1.5
yolk==0.4.1
feedparser
celery==2.5.3
redis
kombu
pymongo==2.2
ordereddict
sphinx
django-celery==2.5.5
django-kombu
linaro_django_pagination
django-uuidfield
django-jsonfield
switch2bill-common==2.2.3
git+git://github.com/Star2Billing/django-notification
hg+https://bitbucket.org/smileychris/django-countries
git+git://github.com/Star2Billing/django-country-dialcode.git
-e hg+http://bitbucket.org/andrewgodwin/south/@ecaafda23e600e510e252734d67bf8f9f2362dc9#egg=South-dev
hg+https://bitbucket.org/izi/django-admin-tools
git+git://github.com/Star2Billing/django-admin-tools-stats.git
git+git://github.com/toastdriven/django-tastypie.git
django_socketio
django_extensions
