{% extends "admin/base.html" %}
{% load i18n admin_tools_menu_tags cdr_tags %}

{% block title %}{% trans 'CDR-Stats Admin' %}{% endblock %}

{% block extrahead %}
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}cdr-stats/images/favicon.ico">
<!-- Javascript -->
<script src="{{ STATIC_URL }}jquery/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}jquery-ui/ui/minified/jquery-ui.min.js" type="text/javascript"></script>
<!-- jquery UI css -->
<link type="text/css" href="{{ STATIC_URL }}cdr-stats/css/jquery-ui-bootstrap/jquery-ui-1.8.16.custom.css" rel="stylesheet">

<link href="{{ STATIC_URL }}cdr-stats/css/datepicker.css" rel="stylesheet">
<script type="text/javascript">
    $(function() {
        var today = new Date();
        var last_day_of_month = new Date(today.getFullYear(), today.getMonth()+1, 0).getDate();

        var fromDate = new Date(today.getFullYear(), today.getMonth(), 1);
        var toDate = new Date(today.getFullYear(), today.getMonth(), last_day_of_month);

        var dates = $('#id_from_date, #id_to_date').datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            dateFormat: 'yy-mm-dd',
            onSelect: function(selectedDate) {

                var option = this.id == "id_from_date" ? "minDate" : "maxDate";
                var instance = $(this).data("datepicker");
                var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });

        // from_date, to_date should not be null
        $('#id_from_date, #id_to_date').blur(function () {
            if($('#id_from_date').val() == ''){
                $('#id_from_date').datepicker("setDate", fromDate );
            }
            if($('#id_to_date').val() == ''){
                $('#id_to_date').datepicker("setDate", toDate );
            }
        });


    });
</script>
<style>

#header #bookmark-button {
right:380px;!important;
}
#header  {
color:#555555;
}
#header a:link, #header a:visited {
color:#555555;
}
a:link, a:visited {
color:#5B80B2;
text-decoration:none;
}
</style>
<script type="text/javascript" language="JavaScript">
    function toggleChecked(status) {
        $(".checkbox").each( function() {
            $(this).attr("checked", status);
        })
    }
</script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu_css %}
        {% endif %}
    {% endif %}
{% endblock %}


{% block nav-global %}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block userlinks %}
    {% if user.is_active and user.is_staff %}
        <a href="/admin/notification/notice/">({{ notice_unseen_count }})</a> /
    {% endif %}
    {{ block.super }}
{% endblock %}