{% extends "admin/change_list.html" %}
{% load i18n admin_modify adminmedia common_tags %}

{% block breadcrumbs %}
    {% if not is_popup %}
    <div class="breadcrumbs">
         <a href="../../../">{% trans "Home" %}</a> &rsaquo;
    </div>
    {% endif %}
{% endblock %}

{% block content %}

<div id="content-main">

                <div class="module aligned ">
                    {% for i, values in settings.CDR_BACKEND.items %}
                    <h4>{{ i }}</h4>
                    <table>
                        {% for j, value in values.items %}
                            <tr>
                            <td>{{ j }} </td>
                            <td>{{ value }}</td>
                            <td>
                                {% if value == 'cdr' %}
                                    {{ collection_data.cdr }}
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>


                <div class="module aligned ">
                    <h4>{% trans "MONGO_CDRSTATS" %}</h4>
                    {% for i, values in settings.MONGO_CDRSTATS.items %}
                    <table>
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ values }}</td>
                            <td>
                                {% if i == 'CDR_COMMON' %}
                                    {{ collection_data.CDR_COMMON }}
                                {% elif i == 'DAILY_ANALYTIC'  %}
                                    {{ collection_data.DAILY_ANALYTIC }}
                                {% elif i == 'MONTHLY_ANALYTIC'  %}
                                    {{ collection_data.MONTHLY_ANALYTIC }}
                                {% elif i == 'CONC_CALL'  %}
                                    {{ collection_data.CONC_CALL }}
                                {% elif i == 'CONC_CALL_AGG'  %}
                                    {{ collection_data.CONC_CALL_AGG }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
</div>

{% endblock %}