{% extends "frontend/master.html" %}
{% load i18n common_tags icons nvd3_tags crispy_forms_tags %}

{% block title %}{% trans "billing report"|title %}{% endblock %}

{% block extra_head %}
    {{ form.media }}
    {% include "frontend/common_datepicker.html" %}
    {% load_chart charttype chartdata chartcontainer extra %}
{% endblock %}

{% block content %}

    <div id="form_collapse" class="collapse">
        {% crispy form form.helper %}
    </div>
    {% include "frontend/common_search_toggle_button.html" %}

    <div class="graph_header">
        {% trans "hourly billing report"|title  %} -
        <b>
            {% if start_date  %}
                {{ start_date|date:"jS N Y" }}
            {% endif %}
        </b>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include_container chartcontainer 400 '100%' %}
        </div>
    </div>

{% endblock %}
