{% extends "admin/change_list.html" %}
{% load i18n admin_modify admin_urls %}


{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "home"|capfirst %}</a> &rsaquo;
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a> &rsaquo;
    <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
    Import {{ opts.verbose_name }}
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
<br/>

<table border="1">
<caption>{% trans "sample file"|title %}</caption>
<tr>
    <th>{% trans "prefix" %}</th><th>{% trans "rate" %}</th>
</tr>
<tr>
    <td>36</td><td>0.082</td>
</tr>
<tr>
    <td>40</td><td>0.071</td>
</tr>
</table>

<br/><br/>

<p>
<form method="post" action="" enctype="multipart/form-data" >{% csrf_token %}
<table border="0">
    {{ form.as_table }}
    <tr>
        <td colspan="2" align="right">
            <input type="submit" name="submit" class="l-1" value="{% trans "submit"|title %}" />&nbsp;
            <input type="reset" class="j-2" name="reset" value="{% trans "reset"|title %}" />
        </td>
    </tr>
</table>
</form>
</p>

<br/><br/>

{% block msg %}
    {% if msg %}
        {{ msg }}
    {% endif %}
{% endblock %}

<br/>
<br/>


{% if cr_success_import_list %}
<table border="1">
    <tr>
        <th>{% trans "carrier record(s) are successfully imported"|capfirst %} :</th>
    </tr>
{% for row in cr_success_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}


{% if cr_error_import_list %}
<br>
<table border="1">
    <tr>
        <th>{% trans "carrier record(s) are not imported"|capfirst %} :</th>
    </tr>
{% for row in cr_error_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

<br/>
<br/>

{% if rr_success_import_list %}
<table border="1">
    <tr>
        <th>{% trans "retail record(s) are successfully imported"|capfirst %} :</th>
    </tr>
{% for row in rr_success_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}


{% if rr_error_import_list %}
<br>
<table border="1">
    <tr>
        <th>{% trans "retail record(s) are not imported"|capfirst %} :</th>
    </tr>
{% for row in rr_error_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

<br/>
<br/>


{% if type_error_import_list %}
<br>
<table border="1">
    <tr>
        <th>{% trans "field type mismatch"|capfirst %} :</th>
    </tr>
{% for row in type_error_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

</div>
{% endblock %}