{% extends "admin/change_list.html" %}
{% load i18n admin_modify admin_urls %}


{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "home"|capfirst %}</a> &rsaquo;
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a> &rsaquo;
    <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
    {% trans "export"|title %} {{ opts.verbose_name }}
</div>
{% endif %}{% endblock %}

{% block content %}

<div id="content-main"><div>

<form method="post" action="" enctype="multipart/form-data" >{% csrf_token %}
<table border="0">
    {{ form.as_table }}
    <tr>
        <td colspan="2" align="right"><input type="submit" class="l-1" name="submit" value='{% trans "submit"|title %}' />&nbsp;
        <input type="reset" class="j-2" name="reset" value='{% trans "reset"|title %}' />
        </td>
    </tr>
</table>
</form>
</div>

{% endblock %}