{% extends "frontend/master.html" %}
{% load i18n common_tags icons nvd3_tags %}

{% block title %}{% trans "billing report"|title %}{% endblock %}

{% block extra_head %}
    {% include "frontend/common_datepicker.html" %}
    {% include_nvd3jscss False %}
    {% load_chart charttype chartdata "daily_container" True "%d %b %y" %}
{% endblock %}

{% block content %}

    <div id="form_collapse" class="collapse">
        <form class="well" method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span4">
                            <label class="control-label" for="{{ form.from_date.auto_id }}">{{ form.from_date.label|title }}</label>
                            <div class="input">
                                {{ form.from_date }}
                                <span class="help-block">{{ form.from_date.help_text|capfirst|safe }} </span>
                            </div>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="{{ form.to_date.auto_id }}">{{ form.to_date.label|title }}</label>
                            <div class="input">
                                {{ form.to_date }}
                                <span class="help-block">{{ form.to_date.help_text|capfirst|safe }} </span>
                            </div>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="{{ form.switch_id.auto_id }}">{{ form.switch_id.label|title }}</label>
                            <div class="input">
                                {{ form.switch_id }}
                                <span class="help-block">{{ form.switch_id.help_text|capfirst|safe }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <label>&nbsp;</label>
            <div class="actions">
                <input class="btn btn-primary" type=submit name=submit value={% trans "search"|capfirst %} />
            </div>
        </form>
    </div>
    <div>
        <a id="toggle_btn_search" href="#" data-toggle="collapse" data-target="#form_collapse">
            <i class="icon-search"></i> <span>{% trans "advanced search"|title %}</span>
        </a>
    </div>

    <div class="graph_header">
        {% trans "daily report"|title  %} -
        <b>
            {% if start_date  %}
                {{ start_date|date:"jS N Y" }}
            {% endif %}
            {% if end_date  %}
                {% trans "to" %} {{ end_date|date:"jS N Y" }}
            {% endif %}
        </b>
    </div>

    <div class="row">
        <div class="span12">
            {% include_container "daily_container" 400 '100%' %}
        </div>
    </div>

{% endblock %}
