{% extends "frontend/master.html" %}
{% load i18n common_tags icons %}

{% block title %}{% trans "Billing Report" %}{% endblock %}

{% block extra_head %}
    {% include "frontend/common_datepicker.html" %}
{% endblock %}

{% block content %}

    <div id="form_collapse" class="collapse">
        <form class="well" method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span4">
                            <label class="control-label" for="{{ form.from_date.auto_id }}">{{ form.from_date.label }}</label>
                            <div class="input">
                                {{ form.from_date }}
                                <span class="help-block">{{ form.from_date.help_text|safe }} </span>
                            </div>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="{{ form.switch.auto_id }}">{{ form.switch.label }}</label>
                            <div class="input">
                                {{ form.switch }}
                                <span class="help-block">{{ form.switch.help_text|safe }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <label>&nbsp;</label>
            <div class="actions">
                <input class="btn btn-primary" type=submit name=submit value={% trans "Search" %} />
            </div>
        </form>
    </div>
    <div>
        <a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
            <i class="icon-search"></i> <span>{% trans "advanced search"|title %}</span>
        </a>
    </div>

    <script id="source" language="javascript" type="text/javascript">
        $(function () {

            var data = [
                {% if user.is_superuser %}
                    {% for date, buy_cost in total_buy_record.items %}
                        {
                            label: '{% trans "Buy cost" %}',
                            data: [
                                {% for hour, cost in buy_cost.items %}
                                    [{{ hour }}, {{ cost }}],
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                {% endif %}

                {% for date, sell_cost in total_sell_record.items %}
                    {
                        label: '{% trans "Sell cost" %}',
                        data: [
                            {% for hour, cost in sell_cost.items %}
                                [{{ hour }}, {{ cost }}],
                            {% endfor %}
                        ],
                    },
                {% endfor %}

            ];


            var options = {
                legend: {
                    position: "ne",
                    margin: [-10, 0],
                    backgroundOpacity: 0
                },
                series: {
                    lines: { show: true },
                    points: { show: true }
                },
                yaxis: {
                    min: 0,
                    tickDecimals: false
                },
                xaxis: {
                    min: 0,
                    max: 23,
                    tickSize: 1,
                    tickDecimals: false,
                },
                grid: {
                    hoverable: true,
                    xaxis: false
                }
            };
            var plot = $.plot($("#graph_responsive"), data, options);

            $("#graph_responsive").bind("plothover", function (event, pos, item) {

                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                        var time = parseInt(x);
                        var label = item.series.label;
                        output = '<div class="graph_tooltip_header">' + label + '</div><div class="graph_tooltip_info">{% trans "Hour" %}: ' + String(time) + '<br>';

                        output += '{% trans "cost" %}: ' + y + ' </div>';


                        showTooltip(item.pageX, item.pageY, output);
                    }
                }
                else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        });
    </script>
    <div class="graph_header">
        {% trans "hourly billing report"|title  %} -
        <b>
            {% if start_date  %}
                {{ start_date|date:"jS N Y" }}
            {% endif %}
        </b>
    </div>

    <div id="graph_responsive"></div>

{% endblock %}
