{% load i18n %}

{% block login_error %}

<center>
    {% if errorlogin %}
            <strong>Alert : </strong>  {{ errorlogin }}
    {% else %}
        {% if notlogged %}
            <strong>{% trans "Alert"  %} : </strong>  {% trans "Please login"  %}
        {% endif %}
    {% endif %}
 </center>

{% endblock %}

<br/>

{% block login %}

 <form action="/voip_billing/login/" method="post">
 {% csrf_token %}
     <table width=25% border=1 align="center">
         {% for field in loginform %}

            {% if  field.errors %}
            <!--<tr><td colspan=2>{{ field.errors }}</td></tr>-->
            {% endif %}

            <tr>
                <td>{{ field.label_tag }}:</td>
                <td>{{ field }}</td>
            </tr>

        {% endfor %}
      <tr>
            <td colspan=2> <input type="submit" name="login" value="login" > </td>
       </tr>
    </table>
</form>
  
{% endblock login %}


