{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>{% block title %}VoIP Billing{% endblock %}
           {% trans "VoIP Billing" noop %}</title>


    <!-- jqgrid css -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}voip2bill/css/ui.jqgrid.css">
    <!-- jquery UI css -->
    <link type="text/css" href="{{STATIC_URL}}voip2bill/css/cupertino/jquery-ui-1.8.1.custom.css" rel="stylesheet">
    <link type="text/css" media="screen" href="{{STATIC_URL}}voip2bill/src/css/ui.multiselect.css" rel="stylesheet"/>
    <link type="text/css" href="{{STATIC_URL}}voip2bill/css/ui.selectmenu.css" rel="stylesheet">

    <!-- Javascript -->
    <script type="text/javascript" src="{{STATIC_URL}}voip2bill/js/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}voip2bill/js/custom.validation.js"></script>

    <!-- Javascript -->
    <script type="text/javascript" src="{{STATIC_URL}}voip2bill/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}voip2bill/js/jquery-ui-1.8.1.custom.min.js"></script>

    <script src="{{STATIC_URL}}voip2bill/js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}voip2bill/js/jquery.jqGrid.min.js" type="text/javascript"></script>

	<script src="{{STATIC_URL}}voip2bill/js/jquery.layout.js" type="text/javascript"></script>
	<script type="text/javascript">
		$.jgrid.no_legacy_api = true;
		$.jgrid.useJSON = true;
	</script>
	<script src="{{STATIC_URL}}voip2bill/src/ui.multiselect.js" type="text/javascript"></script>

	{% block extra_header %}
    {{ extra_header }}
    {% endblock %}
    
       
</head>

<body>
    <div>
        <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <select name="language" id="language-container">
                    {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% ifequal lang.0 LANGUAGE_CODE %}selected{% endifequal %}>{{ lang.1 }}</option>
                    {% endfor %}
                    </select>
        </form>
    </div>
{% block extra_head %}    
    {{ extra_head }}
{% endblock %}

{% block page_heading %}
{% endblock %}

<hr>
{% block page_menu %}
    {% include "voip_billing/menu.html" %}
{% endblock %}
<hr>
<br/>

{% block content %}
{% endblock %}

</body>
</html>

