{% extends "frontend/master.html" %}
{% load i18n pagination_tags cache common_tags %}

{% block extra_head %}

{% endblock %}


{% block content %}

<form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
        <div class="row">
            <div class="span4">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="input">
                    {{ field }}
                    <span class="help-block">{{ field.help_text|safe }} </span>
                </div>
            </div>
        </div>
    {% endfor %}
    <label></label>
    <div class="actions">
        <input class="btn btn-primary" id="search_prefix" type="submit" value="{% trans "Search" %}" />
        <a href="/rates/" class="btn btn-danger">{% trans "Clear" %}</a>
    </div>
</form>
<p>&nbsp;</p>
<div class="span12">
    <div class="row">
        <div class="btn-group">
            <button class="btn">{% trans "Action" %}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% if perms.user_profile.export_call_rate %}
                    <li><a href="/export_rate/">{% trans "Export csv" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="span12">
    <div class="row">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>
                    {% ifequal sort_order 'prefix' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "prefix"  %}
                        {{ RATE_COLUMN_NAME.prefix }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-prefix"  %}
                    {% else %}                      
                      {% sort_link RATE_COLUMN_NAME.prefix "-prefix" %}
                    {% endifequal %}
                </th>
                <th>
                    {% ifequal sort_order 'destination' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "destination"  %}
                        {{ RATE_COLUMN_NAME.destination }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-destination"  %}
                    {% else %}                      
                      {% sort_link RATE_COLUMN_NAME.destination "-destination" %}
                    {% endifequal %}                    
                </th>
                <th>
                    {% ifequal sort_order 'retail_rate' %}
                      {% sort_link "<i class='icon-chevron-up'></i>" "retail_rate"  %}
                        {{ RATE_COLUMN_NAME.rate }}
                      {% sort_link "<i class='icon-chevron-down'></i>" "-retail_rate"  %}
                    {% else %}                      
                      {% sort_link RATE_COLUMN_NAME.rate "-retail_rate" %}
                    {% endifequal %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% if rate_list %}
                {% autopaginate rate_list PAGE_SIZE %}
                {% for item in rate_list %}
                    <tr>
                      <td>{{ item.prefix }}</td>
                      <td>{{ item.prefix__destination }}</td>
                      <td>{{ item.retail_rate }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3">{% trans "No record found!!" %}</td></tr>
            {% endif %}
            </tbody>
        </table>
        <div align="right" class="show-rows">            
            {% trans "total rates"|title %} : {{ rate_list|length }}
        </div>

        {% if rate_list %}
            {% paginate %}
        {% endif %}
    </div>
</div>
{% endblock %}
