{% extends "frontend/master.html" %}
{% load i18n pagination_tags cache %}

{% block extra_head %}
   
    <script language="javascript" type="text/javascript">
    function data_into_table(json)
    {
        var html = '<table class="table table-striped table-bordered table-condensed"><thead><tr>';
        html += '<th>Prefix</th>';
        html += '<th>Destination</th>';
        html += '<th>Rate</th>';
        html += '</tr></thead>';
        html += '<tbody>';
        if(isEmpty(json))
        {
            html += '<tr><td colspan=3><center>No Record Found</center></td></tr>';
        }
        $('#rate_list').empty();
        $.each(json, function (i, obj) {

            html += '<tr><td>' + obj.prefix + '</td>';
            html += '<td>' + obj.prefix__destination + '</td>';
            html += '<td>' + obj.retail_rate + '</td></tr>';

        });
        html += '</tbody>'
        $('#rate_list').append(html).append('</table>');
    }

    $(document).ready(function() {
       $("#search_prefix").click(function() {

          if(document.getElementById('id_prefix').value.length == 0)
          {
            alert('Please Enter Prefix: field');
            document.getElementById('id_prefix').focus();
            return false;
          }

          $.ajax({
               url: "http://{{ user.username }}:{{ user.password }}@127.0.0.1:8000/api/v1/voip_rate/dialcode/" + String(document.getElementById('id_prefix').value) + "/?format=json",
               type: "GET",
               dataType: "json",
               //timeout: 30000,
               //data: "?format=json",
               success: function(data) {
                   //alert(data);
                   data_into_table(data);
               },
               error: function(data) {
                   //alert(data);
                   //data_into_table(data);
                   alert("Request failed");
               }
           });
       });

       $("#clear_search_prefix").click(function() {
            $.getJSON("http://{{ user.username }}:{{ user.password }}@127.0.0.1:8000/api/v1/voip_rate/?format=json",
                function(json) {
                    data_into_table(json);
            });
       });
    });

    $.getJSON("http://{{ user.username }}:{{ user.password }}@127.0.0.1:8000/api/v1/voip_rate/?format=json",
           function(json) {
             data_into_table(json);
    });

    function isEmpty(obj) {
        for(var prop in obj) {
            if(obj.hasOwnProperty(prop))
                return false;
        }
        return true;
    }
    </script>
{% endblock %}


{% block content %}

<form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
        <div class="row">
            <div class="span4">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="input">
                    {{ field }}
                    <span class="help-block">{{ field.help_text|safe }} </span>
                </div>
            </div>
        </div>
    {% endfor %}
    <label></label>
    <div class="actions">
        <input class="btn btn-primary" id="search_prefix" type="button" value="{% trans "Search" %}" />
        <input class="btn btn-danger" id="clear_search_prefix" type="button" value="{% trans "Clear" %}" />
    </div>
</form>
<p>&nbsp;</p>

{% cache 500 sidebar %}
    <div id="rate_list"></div>
{% endcache %}


{% endblock %}
