{% extends "frontend/master.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block extra_head %}
{% endblock %}

{% block content %}

<form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
    <div class="row">
        <div class="span4">
            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            <div class="input">
                {{ field }}
                <span class="help-block">{{ field.help_text|safe }} </span>
            </div>
        </div>
    </div>
    {% endfor %}
    <label></label>
    <div class="actions">
        <input class="btn btn-primary" id="simulator" type="submit" value="{% trans "Submit" %}" />
    </div>
</form>
<p>&nbsp;</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>{% trans "Call Cost" %}</th>
        <th>{% trans "RetailPlan" %}</th>
        <th>{% trans "Retail Rate" %}</th>
    </tr>
    {% if data %}
        {% for d in data %}
        <tr>
            <td>{{ d.0 }}</td>
            <td>{{ d.1 }}</td>
            <td>{{ d.2 }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan=3 align=center>{% trans "No Record(s) found." %}</td></tr>
    {% endif %}
</table>


{% endblock %}
